<div class="mat-elevation-z1 card-form p-3">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-9">
        <h2 class="text-bold">Detalle de la cotizacion</h2>
      </div>
      <div class="col-3 d-flex justify-content-end">
        <a href="#">Editar</a>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <span class="me-1">Etapa:</span>
        <strong class="me-3">Borrador</strong>
      </div>
      <div class="col-3">
        <span class="me-1">Oportunidad:</span> <strong> Audi</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <div class="input-container">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label
                  class="label-form-field"
                  placeholder="Ingrese el motivo"
                  >Nombre de la cotizacion</mat-label
                >
                <input
                  matInput
                  formControlName="quoteName"
                  [readonly]="!isAdmin()"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-between">
          <div class="col-5">
            <input
              formControlName="quoteType"
              id="quoteType2"
              type="radio"
              class="btn-check"
              autocomplete="off"
              value="1"
              name="quoteType"
            />
            <label
              id="btn-check-quoteType2"
              for="quoteType2"
              class="btn btn-sm btn-outline-primary me-2 btn-check-sent px-4"
            >
              RFP
            </label>
          </div>
          <div class="col-5">
            <input
              formControlName="quoteType"
              id="quoteType3"
              type="radio"
              class="btn-check"
              autocomplete="off"
              value="2"
              name="quoteType"
            />
            <label
              id="btn-check-quoteType3"
              for="quoteType3"
              class="btn btn-sm btn-outline-primary me-2 btn-check-sent px-4"
            >
              Licitación
            </label>
          </div>
        </div>
      </div>
      <!-- columna2 -->
      <div class="col-4">
        <div class="row">
          <div class="input-container">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label class="label-form-field">Asignacion de EPS</mat-label>
              <mat-select [disabled]="!isAdmin()" formControlName="eps">
                <mat-option value="one">EPS</mat-option>
                <mat-option value="two">Otro</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-3">
            <input
              formControlName="quoteType"
              id="quoteType4"
              type="radio"
              class="btn-check"
              autocomplete="off"
              value="3"
              name="quoteType"
            />
            <label
              id="btn-check-quoteType4"
              for="quoteType4"
              class="btn btn-sm btn-outline-primary me-2 btn-check-sent px-2"
            >
              Try & buy
            </label>
          </div>
          <div class="col-8 offset-1">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Motivo</mat-label>
              <input
                matInput
                placeholder="Ingrese el motivo"
                formControlName="reason"
                [readonly]="!isAdmin()"
              />
              <mat-error *ngIf="form.controls.reason.invalid"
                >Campo obligatorio</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- columna3 -->
      <div class="col-4">
        <div class="row">
          <div class="col-6">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label class="label-form-field">Vigencia</mat-label>
              <input
                matInput
                formControlName="dataPicker"
                [readonly]="!isAdmin()"
              />
              <mat-icon matSuffix>event</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-6">
            <input
              type="checkbox"
              class="btn-check"
              id="btn-check-sent"
              autocomplete="off"
              checked
              formControlName="isMainQuotation"
            />
            <label
              class="
                btn btn-sm btn-outline-primary
                me-2
                btn-check-sent
                mt-3
                cot-primary
              "
              for="btn-check-sent"
              >Cotizacion principal</label
            >
          </div>
        </div>
        <div class="row">
          <div class="col-6 d-flex">
            <div class="col-6 d-flex">
              <div class="d-flex flex-column me-2">
                <button mat-button class="view-button">
                  <strong>Ver</strong>
                </button>
                <small>HLD-Audi.pdf</small>
              </div>
            </div>
            <div class="col-6 d-flex">
              <button class="btn-upload">
                <p class="text-bold m-0 pt-2">Cargar</p>
                <p>HLD</p>
              </button>
            </div>
          </div>
          <div class="col-4"></div>
        </div>
      </div>
    </div>
  </form>
</div>
<div *ngIf="isCreate" class="d-flex justify-content-center mt-2">
  <button mat-button class="rounded-button-outline form-actions me-2">
    Cancelar
  </button>
  <button mat-button (click)="openDialog()" class="rounded-button form-actions">
    Guardar
  </button>
</div>
