<div class="mat-elevation-z1 card-form p-3">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-9">
        <h2 class="text-bold">Detalle de la cotización</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-6">
            <span class="me-1">Etapa:</span>
            <strong class="me-3">Borrador</strong>
          </div>
          <div class="col-6">
            <span class="me-1">Oportunidad:</span> <strong> Audi</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="input-container">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label
                  class="label-form-field"
                  placeholder="Ingrese el motivo"
                  >Nombre de la cotización</mat-label
                >
                <input matInput formControlName="quoteName" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-between mt-19">
          <div class="col-5">
            <input
              formControlName="quoteType"
              id="quoteType2"
              type="radio"
              class="btn-check"
              autocomplete="off"
              value="1"
              name="quoteType"
            />
            <label
              id="btn-check-quoteType2"
              for="quoteType2"
              class="btn btn-sm btn-outline-primary me-2 btn-check-sent px-4"
            >
              RFP
            </label>
          </div>
          <div class="col-5">
            <input
              formControlName="quoteType"
              id="quoteType3"
              type="radio"
              class="btn-check"
              autocomplete="off"
              value="2"
              name="quoteType"
            />
            <label
              id="btn-check-quoteType3"
              for="quoteType3"
              class="btn btn-sm btn-outline-primary me-2 btn-check-sent px-4"
            >
              Licitación
            </label>
          </div>
        </div>
      </div>
      <!-- columna2 -->
      <div class="col-4">
        <div class="row">
          <div class="col-6">
            <mat-checkbox
              *ngIf="isCreate"
              formControlName="isMain"
              class="example-margin me-2"
            ></mat-checkbox>
            <span class="me-1 text-bold">Cotización principal</span>
          </div>
        </div>
        <div class="row">
          <div class="input-container">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label class="label-form-field">Asignacion de EPS</mat-label>
              <mat-select formControlName="eps">
                <mat-option value="one">EPS I</mat-option>
                <mat-option value="two">EPS II</mat-option>
                <mat-option value="two">EPS III</mat-option>
                <mat-option value="two">EPS IV</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col-3">
            <input
              formControlName="quoteType"
              id="quoteType4"
              type="radio"
              class="btn-check"
              autocomplete="off"
              value="3"
              name="quoteType"
            />
            <label
              id="btn-check-quoteType4"
              for="quoteType4"
              class="btn btn-sm btn-outline-primary me-2 btn-check-sent px-2"
            >
              Try & buy
            </label>
          </div>
          <div class="col-8 offset-1 input-container">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Motivo</mat-label>
              <input
                matInput
                placeholder="Ingrese el motivo"
                formControlName="reason"
              />
              <mat-error *ngIf="form.controls.reason.invalid"
                >Campo obligatorio</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- columna3 -->
      <div class="col-4">
        <div class="row">
          <div class="col-6">
            <span class="me-1 text-bold"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 input-container">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Vigencia</mat-label>
              <input
                (click)="picker.open()"
                matInput
                [matDatepicker]="picker"
                formControlName="dataPicker"
                readonly
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-4 d-flex">
            <div class="d-flex flex-column me-2">
              <app-upload-button-file
                class="me-2"
                text="Cargar HLD"
                (handdleFile)="selectFile($event)"
              >
              </app-upload-button-file>
            </div>
          </div>
          <div class="col-4 offset-1 d-flex">
            <div class="d-flex flex-column me-2">
              <button *ngIf="hld" class="rounded-button-outline-auto">
                <strong class="me-2">Ver</strong> HLD
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div *ngIf="isCreate" class="d-flex justify-content-center mt-4">
  <button
    mat-button
    [routerLink]="'/opportunities/' + opportunityNumber"
    class="rounded-button-outline form-actions me-2"
  >
    Cancelar
  </button>
  <button
    mat-button
    [disabled]="form.invalid"
    (click)="openDialog()"
    class="rounded-button form-actions"
  >
    Guardar
  </button>
</div>
