<div class="stepper-wrapper">
  <mat-horizontal-stepper class="mt-2 viewStepper" (selectionChange)="changeStepper($event)" linear #stepper>
    <!-- STEPER FAMILIAS -->
    <mat-step [stepControl]="firstFormGroup" class="border-red" [editable]="isEditable">

      <form [formGroup]="firstFormGroup">
        <ng-template class="labelStepper" matStepLabel>Familias</ng-template>
        <!-- CONTENIDO DE TABLAS DE NACIONALES Y PRODUCTOS/PRECIO -->
        <!-- <div class="row">
          <div class="col-4">
            <app-nationals></app-nationals>
          </div>
          <div class="col-8">
            <app-products-price></app-products-price>
          </div>
        </div> -->
        <!-- FIN CONTENIDO DE TABLAS DE NACIONALES Y PRODUCTOS/PRECIO -->
        <!-- CONTENIDO DE FAMILIAS -->
        <!-- <div class="conteiner-families"> -->

        <app-modeling-tables
            [columns]="columnsShow"
            [data]="dataSource"
            [idTableShow]="1"
          ></app-modeling-tables> -->
        <!-- </div>
        <!-- FIN DE CONTENIDO -->
        <div class="row justify-content-end me-4">
          <button mat-button matStepperNext class="rounded-button-outline btn-primary tx-12 text-bold mt-3"
            >
            {{ buttonTextFamilies }}
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
    <!-- STEPER EQUIPAMIENTO -->
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Equipamiento</ng-template>
        <!-- CONTENIDO DE EQUIPAMIENTO -->
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required />
        </mat-form-field>
        <!-- FIN DE CONTENIDO -->
        <div class="row justify-content-end me-4">
          <button mat-button matStepperNext class="rounded-button-outline btn-primary tx-12 text-bold mt-3"
            [disabled]="secondFormGroup.invalid">
            {{ buttonTextEquipment }}
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
    <!-- STEPER ADICIONALES -->
    <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Adicionales</ng-template>
        <!-- CONTENIDO DE ADICIONAL -->
        <mat-form-field appearance="fill">
          <mat-label>email</mat-label>
          <input matInput formControlName="thirdCtrl" placeholder="Ex. 1 Main St, New York, NY" required />
        </mat-form-field>
        <!-- FIN DE CONTENIDO -->
        <div class="row justify-content-end me-4">
          <button mat-button class="rounded-button-outline btn-primary tx-12 text-bold mt-3"
            [disabled]="thirdFormGroup.invalid">
            {{ buttonTextAdditional }}
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
