@import "../../../../../styles.scss";

.viewStepper {
  background-color: #fafafa;
}

.labelStepper {
  color: red;
}

.btn-primary {
  background-color: $color-primary;
  color: $color-white;
  width: auto;
}

.btn-primary:disabled {
  background-color: $color-disabled-button !important;
  color: $color-white !important;
  border: none !important;
}


.stepper-wrapper{
 ::ng-deep .mat-stepper-horizontal-line{
    display: none;
  }

  ::ng-deep .mat-horizontal-stepper-header{
    height: 25px;
  }

  ::ng-deep .mat-step-icon{
    display: none;
  }

  ::ng-deep
      .mat-step-label-selected{
       color: red;
          // border-bottom: 2px solid red;
  }


::ng-deep .mat-step-header[aria-selected="true"] {border-bottom: 3px solid red !important }
::ng-deep .mat-step-header[aria-selected="false"] {border-bottom: 3px solid rgba($color: #E7294D, $alpha: .3)  !important; }

}

