@import "./../../../../../styles.scss";

.primary-sale {
  background-color: $color-primary;
  color: $color-white;
}

.warn-btn {
  color: $color-secondary;
  line-height: 0 !important;
}

.count-sales {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.badge-warning {
  background-color: $color-secondary;
  border-radius: 10px;
}
