@import "./../../../../../styles.scss";

.primary-sale {
  background-color: $color-primary;
  color: $color-white;
}

.count-sales {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.badge-warning {
  background-color: $color-secondary;
  border-radius: 10px;
}

.no-margin-col {
  margin-left: -12px;
}
