<!-- Tabla de cuentas -->
<table
  *ngIf="idTableShow == 1"
  id="dataTable"
  datatable
  [dtOptions]="dtOptions"
  class="general-table row-border"
>
  <thead>
    <tr>
      <th *ngFor="let col of columns">{{ col.columnName | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr
      [routerLink]="['/accounts/detail', account.id]"
      class="table-element-row shadow-sm"
      *ngFor="let account of dataSource"
    >
      <td class="mat-cell ps-3">{{ account.numberList }}</td>
      <td class="mat-cell">{{ account.id }}</td>
      <td class="mat-cell">{{ account.accountName }}</td>
      <td class="mat-cell">{{ account.identification }}</td>
      <td class="mat-cell">{{ account.segment }}</td>
      <td class="mat-cell">{{ account.phone }}</td>
      <td class="mat-cell">{{ account.contact }}</td>
    </tr>
  </tbody>
</table>

<!-- Tabla de oportunidades -->
<table
  *ngIf="idTableShow == 2"
  id="dataTable"
  datatable
  [dtOptions]="dtOptions"
  class="general-table row-border"
>
  <thead>
    <tr>
      <th *ngFor="let col of columns">{{ col.columnName | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr
      [routerLink]="['/opportunities', account.numberList]"
      class="table-element-row shadow-sm"
      *ngFor="let account of dataSource"
    >
      <td class="mat-cell ps-3">{{ account.numberList }}</td>
      <td class="mat-cell">{{ account.oportunityName }}</td>
      <td class="mat-cell">{{ account.oportunityNumber }}</td>
      <td class="mat-cell">{{ account.accountName }}</td>
      <td class="mat-cell">{{ account.stage }}</td>
      <td class="mat-cell">{{ account.amount }}</td>
    </tr>
  </tbody>
</table>

<!-- tabla de cotizaciones -->

<table
  *ngIf="idTableShow == 3"
  id="dataTable"
  datatable
  [dtOptions]="dtOptions"
  class="general-table row-border"
>
  <thead>
    <tr>
      <th *ngFor="let col of columns">{{ col.columnName | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="table-element-row shadow-sm"
      [routerLink]="['/quotes', account.numberList]"
      *ngFor="let account of dataSource"
    >
      <td class="mat-cell ps-3">{{ account.numberList }}</td>
      <td class="mat-cell">{{ account.quoteName }}</td>
      <td class="mat-cell">{{ account.quoteInvoice }}</td>
      <td class="mat-cell">{{ account.total }}</td>
      <td class="mat-cell">{{ account.status }}</td>
    </tr>
  </tbody>
</table>

<!-- tabla de cotizaciones (relacionado) -->

<table
  *ngIf="idTableShow == 8"
  id="dataTable"
  datatable
  [dtOptions]="dtOptions"
  class="general-table row-border"
>
  <thead>
    <tr>
      <th class="text-center" *ngFor="let col of columns">
        {{ col.columnName | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="c-pointer shadow-sm" *ngFor="let account of dataSource">
      <td class="mat-cell text-center ps-3">{{ account.numberList }}</td>
      <td class="mat-cell text-center">{{ account.siteFolio }}</td>
      <td class="mat-cell text-center">{{ account.street }}</td>
      <td class="mat-cell text-center">{{ account.colony }}</td>
      <td class="mat-cell text-center">{{ account.delegation }}</td>
      <td class="mat-cell text-center">{{ account.city }}</td>
      <td class="mat-cell text-center">{{ account.state }}</td>
      <td class="mat-cell text-center">{{ account.cp }}</td>
    </tr>
  </tbody>
</table>

<!-- tabla de oportunidades (relacionado)-->

<table
  *ngIf="idTableShow == 4"
  id="dataTable"
  datatable
  [dtOptions]="dtOptions"
  class="row-border general-table"
>
  <thead>
    <tr>
      <th class="text-center" *ngFor="let col of columns">
        {{ col.columnName | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="shadow-sm c-pointer"
      *ngFor="let account of dataSource; let i = index"
    >
      <td class="mat-cell text-center">{{ account.numberList }}</td>
      <td class="mat-cell text-center">{{ account.quoteName }}</td>
      <td class="mat-cell text-center">{{ account.invoice }}</td>
      <td class="mat-cell text-center">{{ account.mounthTotal }}</td>
      <td class="mat-cell text-center">{{ account.status }}</td>
      <td class="mat-cell text-center">{{ account.validity }}</td>
      <td class="mat-cell d-flex justify-content-center">
        <div>
          <input
            [id]="'radio-' + i"
            class="radio-custom"
            name="radio-group"
            type="radio"
            [checked]="account.mainCot"
          />
          <label [for]="'radio-' + i" class="radio-custom-label"></label>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!--tabla de contactos-->
<table
  *ngIf="idTableShow == 5"
  id="dataTable"
  datatable
  [dtOptions]="dtOptions"
  class="row-border general-table"
>
  <thead>
    <tr>
      <th class="text-center" *ngFor="let col of columns">
        {{ col.columnName | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="shadow-sm c-pointer"
      *ngFor="let account of dataSource; let i = index"
    >
      <td class="mat-cell text-center">{{ account.name }}</td>
      <td class="mat-cell text-center">{{ account.position }}</td>
      <td class="mat-cell text-center">{{ account.email }}</td>
      <td class="mat-cell text-center">{{ account.phone }}</td>
      <td class="mat-cell text-center">{{ account.contactType }}</td>
      <td class="mat-cell d-flex justify-content-center">
        <div>
          <input
            [id]="'contact-' + i"
            class="radio-custom"
            name="radio-contact"
            type="radio"
            [checked]="account.isMain"
          />
          <label [for]="'contact-' + i" class="radio-custom-label"></label>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- tabla de oportunidades (relacionado a cuentas) -->
<table
  *ngIf="idTableShow == 6"
  id="dataTable"
  datatable
  [dtOptions]="dtOptions"
  class="row-border general-table"
>
  <thead>
    <tr>
      <th class="text-center" *ngFor="let col of columns">
        {{ col.columnName | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="shadow-sm c-pointer"
      *ngFor="let account of dataSource; let i = index"
    >
      <td class="mat-cell text-center">{{ account.numberList }}</td>
      <td class="mat-cell text-center">{{ account.name }}</td>
      <td class="mat-cell text-center">{{ account.opportunity_number }}</td>
      <td class="mat-cell text-center">{{ account.status }}</td>
      <td class="mat-cell text-center">{{ account.mounthTotal }}</td>
      <td class="mat-cell text-center">{{ account.closeDate }}</td>
    </tr>
  </tbody>
</table>

<!-- tabla de contactos -->
<div *ngIf="idTableShow == 7">
  <div class="wrapper mt-3">
    <div class="d-flex justify-content-end">
      <button mat-button class="rounded-button-outline">
        <mat-icon>add</mat-icon> Agregar contacto
      </button>
    </div>
    <div class="table-container m-2 shadow-sm">
      <table
        mat-table
        matSort
        [dataSource]="dataSource"
        class="mat-elevation-z8"
      >
        <!-- Nombre Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre del contacto</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Cargo Column -->
        <ng-container matColumnDef="range">
          <th mat-header-cell *matHeaderCellDef>Cargo</th>
          <td mat-cell *matCellDef="let element">{{ element.range }}</td>
        </ng-container>

        <!-- Correo Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Correo</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <!-- Telefono Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Teléfono</th>
          <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
        </ng-container>

        <!-- Tipo de contacto Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Tipo de contacto</th>
          <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>

        <!-- Principal Column -->
        <ng-container matColumnDef="principal">
          <th mat-header-cell *matHeaderCellDef>Principal</th>
          <!-- <td mat-cell *matCellDef="let element">{{ element.principal }}</td> -->
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            class="mat-cell justify-content-center"
          >
            <div>
              <input
                [id]="'contact-' + i"
                class="radio-custom"
                name="radio-contact"
                type="radio"
                [checked]="element.principal"
              />
              <label [for]="'contact-' + i" class="radio-custom-label"></label>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
    </div>
  </div>
</div>

<!--Tabla de historial de actividades-->
<table
  *ngIf="idTableShow == 9"
  id="history"
  datatable
  [dtOptions]="dtOptions"
  class="row-border general-table"
>
  <thead>
    <tr>
      <th class="text-center" *ngFor="let col of columns">
        {{ col.columnName | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="shadow-sm c-pointer"
      *ngFor="let account of dataSource; let i = index"
    >
      <td class="mat-cell text-center">{{ account.numberList }}</td>
      <td class="mat-cell text-center">{{ account.subject }}</td>
      <td class="mat-cell text-center">{{ account.name }}</td>
      <td class="mat-cell text-center">{{ account.relatedWith }}</td>
      <td class="mat-cell text-center">{{ account.expirationDate }}</td>
      <td class="mat-cell d-flex justify-content-center">
        {{ account.assignedTo }}
      </td>
    </tr>
  </tbody>
</table>
