<app-header-actions [title]="contentLabels + 'title-related' | translate" buttonText="Crear cotización"
  route="opportunities/new/op" relatedRoute="opportunities/1" relatedText="Detalles" [hidenCreateOportunity]="false">
</app-header-actions>
<app-header-detail [detailInfo]="infoDetail"></app-header-detail>

<h1 class="text-bold">Cotizaciones de la oportunidad</h1>

<app-table-general [showHeaderTable]="true" [columns]="columnsShow" [dataSource]="dataSource" [idTableShow]="4">
</app-table-general>

<mat-tab-group>
  <mat-tab label="Contactos (2)">
    <app-table-general [showHeaderTable]="true" [columns]="dataContacts.displayedColumns"
      [dataSource]="dataContacts.dataSource" [idTableShow]="7"></app-table-general>
  </mat-tab>
  <mat-tab label="Archivos (3)">
    <app-upload-file></app-upload-file>
  </mat-tab>
  <mat-tab label="Actividades (8)">

    <app-table-general [showHeaderTable]="true" [columns]="dataActivityHistory.columnsShow"
      [dataSource]="dataActivityHistory.dataSource" [idTableShow]="13"></app-table-general>

  </mat-tab>
  <mat-tab label="Cuentas factura (8)">

    <app-table-general [showHeaderTable]="true" [columns]="dataBill.columnsShow" [dataSource]="dataBill.dataSource"
      [idTableShow]="14"></app-table-general>

  </mat-tab>
  <mat-tab label="Equipo de oportunidad">
    <div class="d-flex flex-row justify-content-end">
      <button (click)="openDialogTeam('equipo')" mat-button class="rounded-button-outline mt-3">
        <mat-icon>add</mat-icon> Agregar equipo
      </button>
    </div>
    <app-table-general [showHeaderTable]="true" [columns]="dataTeam.columnsShow" [dataSource]="dataTeam.dataSource"
      [idTableShow]="12"></app-table-general>
  </mat-tab>
  <mat-tab label="Socios de oportunidad">
    <div class="d-flex flex-row justify-content-end">
      <button (click)="openDialogTeam('socio')" mat-button class="rounded-button-outline mt-3">
        <mat-icon>add</mat-icon> Agregar socio
      </button>
    </div>
    <app-table-general [showHeaderTable]="true" [columns]="dataPartner.columnsShow"
      [dataSource]="dataPartner.dataSource" [idTableShow]="11"></app-table-general>
  </mat-tab>
</mat-tab-group>