<app-header-actions
  [title]="contentLabels + 'title-related' | translate"
  buttonText="Crear cotizacion"
  route="opportunities/create"
  relatedRoute="opportunities/1"
  relatedText="Detalles"
  [hidenCreateOportunity]="false"
>
</app-header-actions>
<app-header-detail [detailInfo]="infoDetail"></app-header-detail>
<app-table-general
  [showHeaderTable]="true"
  [columns]="columnsShow"
  [dataSource]="dataSource"
  [idTableShow]="4"
></app-table-general>

<app-tabs-related
  (currentTabEmmiter)="changeTab($event)"
  [cardNames]="cardNames"
></app-tabs-related>

<div class="contacts-container" *ngIf="currentTab === 0">
  <div class="d-flex justify-content-end">
    <button mat-button class="rounded-button-outline">
      <mat-icon>add</mat-icon> Agregar contacto
    </button>
  </div>
  <app-table-general
    [showHeaderTable]="true"
    [columns]="dataContacts.columnsShow"
    [dataSource]="dataContacts.dataSource"
    [idTableShow]="5"
  ></app-table-general>
</div>

<div class="files-container" *ngIf="currentTab === 1">
  <app-upload-file></app-upload-file>
</div>
