@import "../../../../../styles.scss";
.mat-expansion-panel-spacing {
  margin: 0;
}

::ng-deep .mat-expansion-indicator::after {
  color: $color-secondary;
}

.mat-expansion-panel {
  background: transparent !important;
}
