<div class="row py-2 align-items-center mh-50">
  <div class="col-3 d-flex flex-column justify-content-center">
    <span class="text-title text-bold">
      {{ contentLabels + "title" | translate }}
    </span>
  </div>

  <div class="col-7">
    <div class="row g-0 row-cols-lg-auto justify-content-end">
      <input type="checkbox" class="btn-check" id="btn-check-draft" autocomplete="off" />
      <label class="btn btn-sm btn-outline-primary me-2 btn-check-draft btn-check-no-shadow"
        for="btn-check-draft">Borrador</label>
      <input type="checkbox" class="btn-check" id="btn-check-completed" autocomplete="off" />
      <label class="btn btn-sm btn-outline-primary me-2 btn-check-completed btn-check-no-shadow"
        for="btn-check-completed">Completada</label>
    </div>
  </div>

  <div class="col-2 d-flex justify-content-end">
    <select class="order-by small-shadow" name="" placeholder="Ordenar por">
      <option value="0" selected="true" disabled>Ordenar por</option>
      <option value="1">Recientes</option>
      <option value="2">Ultimos 7 dias</option>
      <option value="3">Ultimo mes</option>
    </select>
  </div>
</div>

<div *ngIf="role === 1">
  <app-empty message="No se encontraron cotizaciones" *ngIf="dataSource.length === 0 "></app-empty>
  <app-table-general  *ngIf="dataSource.length > 0" [dataSource]="dataSource" [idTableShow]="3" [columns]="columnsShow">
  </app-table-general>
</div>

<div *ngIf="role === 2">
  <app-quotes-received ></app-quotes-received>
</div>
