@import "../../../../../styles.scss";
.input-container {
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white !important;
  }

  .mat-input-element:disabled,
  .mat-form-field-type-mat-native-select.mat-form-field-disabled
    .mat-form-field-infix::after {
    color: rgba(0, 0, 0, 0.38);
    background-color: $color-disabled;
    border-radius: 5px;
    padding: 5px !important;
    font-weight: 500 !important;
  }
}

.btn-primary {
  background-color: $color-primary;
  color: $color-white;
}

.btn-add {
  width: 100%;
  border: 2px solid gray;
  text-align: center;
  border-radius: 5px;
}

.c-pointer {
  color: #757575;
}

.btn-timepicker {
  width: 130px !important;
}
::ng-deep .timepicker {
  border-radius: 10px !important;
}

::ng-deep ngx-material-timepicker-content {
  --body-background-color: #fff;
  // --body-border-radius: 50px;
  --primary-font-family: "Montserrat", sans-serif;
  --primary-font-size: 12px;
  --button-color: #3b4559 !important;
  --dial-active-color: #fff;
  --dial-inactive-color: rgba(255, 255, 255, 0.5);
  --dial-background-color: #3b4559 !important;
  --dial-editable-active-color: #3b4559 !important;
  --dial-editable-background-color: #fff;
  --clock-face-time-active-color: #fff;
  --clock-face-time-inactive-color: #6c6c6c;
  --clock-face-inner-time-inactive-color: #929292;
  --clock-face-time-disabled-color: #c5c5c5;
  --clock-face-background-color: #f0f0f0;
  --clock-hand-color: #3b4559 !important;
}
::ng-deep .timepicker-dial__control {
  font-size: 45px !important;
}
::ng-deep .timepicker__header {
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
}
::ng-deep .timepicker__actions {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
