<div class="mat-elevation-z1 card-form p-3">
  <form [formGroup]="form">
    <div class="row">
      <h2 class="text-bold">Detalle de la cotizacion</h2>
      <div class="d-flex flex-row">
        <span class="me-1">Etapa:</span> <strong class="me-3">Borrador</strong>
        <span class="me-1">Oportunidad:</span> <strong> Audi</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-4 col-xl-4">
        <div class="input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label class="label-form-field"
              >Nombre de la cotizacion</mat-label
            >
            <input matInput formControlName="quoteName" />
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xl-4">
        <div class="input-container">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label class="label-form-field">Asignacion de EPS</mat-label>
            <mat-select formControlName="eps">
              <mat-option value="one">EPS</mat-option>
              <mat-option value="two">Otro</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xl-4">
        <div class="input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label class="label-form-field">Motivo</mat-label>
            <input formControlName="reason" matInput />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-4 col-xl-4">
        <div class="input-container">
          <div class="w-100 h-100 py-3" appearance="fill">
            <input
              formControlName="quoteType"
              id="quoteType1"
              type="radio"
              class="btn-check"
              autocomplete="off"
              value="1"
              checked
            />
            <label
              id="btn-check-quoteType1"
              for="quoteType1"
              class="
                btn btn-sm btn-outline-primary
                ms-3
                me-2
                btn-check-quoteType
                px-4
              "
            >
              Cotizacion principal
            </label>

            <input
              formControlName="quoteType"
              id="quoteType2"
              type="radio"
              class="btn-check"
              autocomplete="off"
              value="2"
            />
            <label
              id="btn-check-quoteType2"
              for="quoteType2"
              class="
                btn btn-sm btn-outline-primary
                me-2
                btn-check-quoteType
                px-4
              "
            >
              RFP
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 col-xl-4">
        <div class="input-container">
          <div class="w-100 h-100 py-3">
            <input
              formControlName="quoteType"
              id="quoteType3"
              type="radio"
              class="btn-check"
              autocomplete="off"
              value="3"
            />
            <label
              id="btn-check-quoteType3"
              for="quoteType3"
              class="
                btn btn-sm btn-outline-primary
                me-2
                btn-check-quoteType
                px-4
              "
            >
              Licitacion
            </label>

            <input
              formControlName="quoteType"
              id="quoteType4"
              type="radio"
              class="btn-check"
              autocomplete="off"
              value="4"
            />
            <label
              id="btn-check-quoteType4"
              for="quoteType4"
              class="
                btn btn-sm btn-outline-primary
                me-2
                btn-check-quoteType
                px-4
              "
            >
              Try & by
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xl-4">
        <a class="hld" href="#">Ver HLD</a>
      </div>
    </div>
  </form>
</div>
<div class="d-flex justify-content-center mt-2">
  <button mat-button class="rounded-button-outline form-actions me-2">
    Cancelar
  </button>
  <button mat-button (click)="openDialog()" class="rounded-button form-actions">
    Guardar
  </button>
</div>
