<div class="d-flex justify-content-between">
  <span class="tx-20 text-bold">{{
    contentLabels + "opportunities" | translate
  }}</span>

  <span class="badge badge-pill badge-warning">5 nuevas</span>
</div>
<div class="row h-100 align-items-center justify-content-center">
  <div class="col-8">
    <div id="chart">
      <apx-chart
        [series]="barChartOptions.series"
        [chart]="barChartOptions.chart"
        [dataLabels]="barChartOptions.dataLabels"
        [plotOptions]="barChartOptions.plotOptions"
        [yaxis]="barChartOptions.yaxis"
        [xaxis]="barChartOptions.xaxis"
        [legend]="barChartOptions.legend"
        [colors]="barChartOptions.colors"
        [grid]="barChartOptions.grid"
      ></apx-chart>
    </div>
  </div>
  <div class="col-4">
    <div class="row">
      <div class="tx-12 d-flex justify-content-center pb-1">
        <span>{{ title }}</span>
      </div>
    </div>
    <div class="row">
      <apx-chart
        [series]="chartSeries"
        [chart]="donutChartOptions.chart"
        [labels]="donutChartOptions.labels"
        [responsive]="donutChartOptions.responsive"
        [dataLabels]="donutChartOptions.dataLabels"
        [plotOptions]="donutChartOptions.plotOptions"
        [legend]="donutChartOptions.legend"
        [colors]="donutChartOptions.colors"
      ></apx-chart>
    </div>

    <div class="row">
      <div class="d-flex justify-content-end">
        <button mat-button routerLink="/opportunities" class="text-bold warn-btn">
          Ver más
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
