@import "../../../../../../styles.scss";

.search-bar {
  border-radius: 25px;
  border: none;
  height: 40px;
}
.search-bar-btn {
  &:hover {
    background-color: $color-primary;
  }
  &:focus {
    box-shadow: none;
  }
  background-color: $color-white;
}

.search-bar-divider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-span {
  background-color: $color-placeholder;
  width: 3px;
  height: 50%;
}

.search-icon {
  color: $color-placeholder;
}

.small-type {
  color: $color-placeholder;
}

.mat-option:hover:not(.mat-option-disabled),
.mat-option:focus:not(.mat-option-disabled) {
  background: rgba(236, 77, 152, 0.1);
}

.mat-option.mat-active {
  background: $color-white;
}

.form-control:focus {
  box-shadow: none !important;
}

.icon-clear-search {
  background-color: $color-btn-clear;
  font-size: 14px;
  width: 18px;
  height: 18px;
  border-radius: 50% !important;
  line-height: 19px !important;
}
.btn-clear-search {
  background-color: $color-white;
}

.input-group {
  border-radius: 25px;
}

.small-type {
  color: $color-placeholder;
}

.filters {
  .fiber {
    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background-color: $color-fiber;
    }
     ::ng-deep .mat-checkbox-checkmark-path {
    stroke: $color-fiber-check !important;
    }
  }
  .microwave {
    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background-color: $color-microwave;
    }
         ::ng-deep .mat-checkbox-checkmark-path {
    stroke: $color-fiber-check !important;
    }
  }

    .fiver-microwave {
    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background-color: $color-fiber-micro;
    }
         ::ng-deep .mat-checkbox-checkmark-path {
    stroke: $color-fiber-micro-check  !important;
    }

    
  }

      .meter {
    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background-color: $color-meter;
    }
         ::ng-deep .mat-checkbox-checkmark-path {
    stroke: $color-meter-check  !important;
    }

    
  }

        .no-cover {
    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background-color: $color-no-cover;
    }
         ::ng-deep .mat-checkbox-checkmark-path {
    stroke: $color-no-cover-check  !important;
    }

    
  }
}
