<app-header-actions
  [hidenCreateOportunity]="true"
  [showRelatedText]="false"
  [isLoadSites]="true"
  title="Sitios cargados"
></app-header-actions>
<app-header-detail [detailInfo]="infoDetail"></app-header-detail>
<div class="d-flex justify-content-between m-3">
  <div class="search-bar-divider">
    <span class="bolder">Con cobertura: 4</span>
  </div>
  <div class="input-group width shadow-sm">
    <input
      type="text"
      class="form-control search-bar mt-0"
      placeholder="Añade tu sitio(s) buscando la dirección o coordenada"
      aria-label="Añade tu sitio(s) buscando la dirección o coordenada"
      aria-describedby="basic-addon2"
      [formControl]="searchData"
      [matAutocomplete]="auto"
      (keydown.enter)="search()"
    />
    <button
      class="btn-clear-search"
      *ngIf="selectedIdOption"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearSearch()"
    >
      <mat-icon class="icon-clear-search">close</mat-icon>
    </button>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        (click)="setSearchId(option.id)"
        *ngFor="let option of filteredOptions | async"
        [value]="option.name + ' ' + option.location + ' ' + option.type"
      >
        {{ option.name }} {{ option.location }}
        <small class="small-type">{{ option.type }}</small>
      </mat-option>
    </mat-autocomplete>

    <div class="search-bar-divider">
      <span class="search-bar-span">&nbsp;</span>
    </div>
    <button
      class="btn btn-outline-secondary pt-2 search-bar search-bar-btn"
      id="basic-addon2"
      (click)="search()"
    >
      <mat-icon class="search-icon">search</mat-icon>
    </button>
  </div>
  <div>
    <button
      *ngIf="checkDisabled()"
      (click)="onNavigate()"
      mat-button
      type="button"
      class="rounded-button-outline"
    >
      Ver sitios eliminados
    </button>
  </div>

  <button (click)="onSendSites()" mat-button type="button" class="btn-add">
    Enviar Sitios
    <mat-icon>send</mat-icon>
  </button>
</div>

<div class="m-3 row align-content-center">
  <div class="g-0 col-2 d-flex align-items-center bolder">
    <span>1-20 de 2458 Sitios</span>
  </div>

  <div class="d-flex flex-row col-10 g-0 justify-content-start">
    <div class="d-flex flex-row me-4 align-items-center">
      <div class="me-2">Mostrar</div>
      <select
        class="form-select form-select-sm"
        aria-label="form-select-sm example"
      >
        <option value="1">20</option>
        <option value="2">40</option>
        <option value="3">60</option>
      </select>
    </div>
    <div class="row g-1 row-cols-lg-auto">
      <div class="col-3">
        <input
          value="1"
          type="checkbox"
          class="btn-check"
          id="btn-check-fiber"
          (click)="onFilter('Fibra')"
          name="control"
          [formControl]="control"
        />
        <label
          class="btn btn-sm btn-outline-primary btn-check-fiber btn-check-no-shadow"
          for="btn-check-fiber"
          >3 Fibra</label
        >
      </div>

      <div class="col-3">
        <input
          value="2"
          type="checkbox"
          class="btn-check"
          id="btn-check-microwave"
          (click)="onFilter('Microonda')"
          name="control"
          [formControl]="control"
        />
        <label
          class="btn btn-sm btn-outline-primary btn-check-microwave btn-check-no-shadow"
          for="btn-check-microwave"
          >3 Microonda</label
        >
      </div>

      <div class="col-3">
        <input
          value="3"
          type="checkbox"
          class="btn-check"
          id="btn-check-meter"
          (click)="onFilter('Metro')"
          name="control"
          [formControl]="control"
        />
        <label
          class="btn btn-sm btn-outline-primary btn-check-meter btn-check-no-shadow"
          for="btn-check-meter"
          >1 Metro</label
        >
      </div>

      <div class="col-3">
        <input
          value="4"
          type="checkbox"
          class="btn-check"
          id="btn-check-coverage"
          (click)="onFilter('N/D')"
          name="control"
          [formControl]="control"
        />
        <label
          class="btn me-2 btn-sm btn-outline-primary btn-check-coverage btn-check-no-shadow"
          for="btn-check-coverage"
          >3 Sin Cobertura</label
        >
      </div>
    </div>
  </div>

  <!-- <div class="col-5 d-flex justify-content-end g-0"></div> -->
</div>

<!-- table -->
<div style="margin-top: 10px" class="row">
  <div class="col-md-7 lg-7 xl-7">
    <div style="margin-top: 25px">
      <app-table-general
        [dataSourceLoadedSites]="dataSource"
        [idTableShow]="10"
        (emitter)="deleteSelectedItems()"
      ></app-table-general>
    </div>
  </div>

  <div class="col-md-5 lg-5 xl-5">
    <div class="space-img">
      <img src="../../../../../../assets/img/map_2.png" alt="" />
    </div>
  </div>
</div>
