<app-header-actions
  [hidenCreateOportunity]="true"
  [showRelatedText]="false"
  [isLoadSites]="true"
  title="Sitios Cargados"
></app-header-actions>
<app-header-detail [detailInfo]="infoDetail"></app-header-detail>
<div class="d-flex justify-content-around m-3">
  <div class="search-bar-divider">
    <span class="underline">Sitios eliminados: 2</span>
  </div>
  <div class="input-group w-50 shadow-sm">
    <input
      type="text"
      class="form-control search-bar mt-0"
      placeholder="Añade tu sitio(s) buscando la dirección o coordenada"
      aria-label="Añade tu sitio(s) buscando la dirección o coordenada"
      aria-describedby="basic-addon2"
      [formControl]="searchData"
      [matAutocomplete]="auto"
      (keydown.enter)="search()"
    />
    <button
      class="btn-clear-search"
      *ngIf="selectedIdOption"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearSearch()"
    >
      <mat-icon class="icon-clear-search">close</mat-icon>
    </button>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        (click)="setSearchId(option.id)"
        *ngFor="let option of filteredOptions | async"
        [value]="option.name + ' ' + option.location + ' ' + option.type"
      >
        {{ option.name }} {{ option.location }}
        <small class="small-type">{{ option.type }}</small>
      </mat-option>
    </mat-autocomplete>

    <div class="search-bar-divider">

    </div>
    <button
      class="btn btn-outline-secondary pt-2 search-bar search-bar-btn"
      id="basic-addon2"
      (click)="search()"
    >
      <mat-icon class="search-icon">search</mat-icon>
    </button>
  </div>
  <div class="search-bar-divider">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="underline">Eliminar sitio</span>
  </div>

  <button type="button" class="btn-add btn-primary color">
    + Agregar sitio
  </button>
</div>

<div class="col-11 m-3">
  <div class="row g-0 row-cols-lg-auto justify-content-end">
    <div class="container w-25">
      <select
        class="form-select form-select-sm"
        aria-label=".form-select-sm example"
      >
        <option selected>Mostrar</option>
        <option value="1">20</option>
        <option value="2">40</option>
        <option value="3">60</option>
      </select>
    </div>

    <input
      type="checkbox"
      class="btn-check"
      id="btn-check-need"
      autocomplete="off"co
    />
    <label
      class="
        btn btn-sm btn-outline-secondary
        me-2
        btn-check-need btn-check-no-shadow
      "
      for="btn-check-need"
      >3 Fibra</label
    >
    <input
      type="checkbox"
      class="btn-check"
      id="btn-check-design"
      autocomplete="off"
    />
    <label
      class="
        btn btn-sm btn-outline-secondary
        me-2
        btn-check-need btn-check-no-shadow
      "
      for="btn-check-design"
      >3 Microonda</label
    >
    <input
      type="checkbox"
      class="btn-check"
      id="btn-check-proposal"
      autocomplete="off"
    />
    <label
      class="
        btn btn-sm btn-outline-secondary
        me-2
        btn-check-need btn-check-no-shadow
      "
      for="btn-check-proposal"
      >1 Metro</label
    >
    <input
      type="checkbox"
      class="btn-check"
      id="btn-check-credit"
      autocomplete="off"
    />
    <label
      class="
        btn btn-sm btn-outline-secondary
        me-2
        btn-check-need btn-check-no-shadow
      "
      for="btn-check-credit"
      >3 Sin Cobertura</label
    >
    <button  type="button" class="btn-add btn-sites">
      <div><mat-icon>send</mat-icon>
        Enviar Sitios
        </div>
      </button>
  </div>
</div>

<div class="row">
  <div class="col-md-7 lg-7 xl-7">
    <app-table-general
      [showHeaderTable]="true"
      [columns]="dataActivityHistory.columnsShow"
      [dataSource]="dataActivityHistory.dataSource"
      [idTableShow]="10"
    ></app-table-general>
  </div>

  <div class="col-md-5 lg-5 xl-5">
    <div >
      <img src="../../../../../../assets/img/map_2.png" alt="" />
    </div>
  </div>

</div>
