@import "../../../../../styles.scss";

.search-bar {
  border-radius: 25px;
  border: none;
  height: 40px;
}
.search-bar-btn {
  &:hover {
    background-color: $color-primary;
  }
  &:focus {
    box-shadow: none;
  }
  background-color: $color-white;
}

.search-bar-divider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-span {
  background-color: $color-placeholder;
  width: 3px;
  height: 50%;
}

.search-icon {
  color: $color-placeholder;
}
.input-group {
  border-radius: 25px;
}

.small-type {
  color: $color-placeholder;
}

.mat-option:hover:not(.mat-option-disabled),
.mat-option:focus:not(.mat-option-disabled) {
  background: rgba(236, 77, 152, 0.1);
}

.mat-option.mat-active {
  background: $color-white;
}

.form-control:focus {
  box-shadow: none !important;
}

.btn-add {
  border-radius: 25px;
  background-color: $color-primary;
  width: 156px;
  height: 35px;
  color: $color-white;
  border: none;
  margin-left: 25px;

  &:hover {
    background-color: $color-hover;
  }
}

.btn-add[disabled] {
  background-color: $color-primary;
  opacity: 0.5;
}

#itemIcon1 {
  color: $color-microwave;
  margin-right: 5px;
}

#itemIcon2 {
  color: $color-gpon;
  margin-right: 5px;
}
#itemIcon3 {
  color: $color-restriction;
  margin-right: 5px;
}
#itemIcon4 {
  color: $color-high-risk;
  margin-right: 5px;
}
#itemIcon5 {
  color: $color-construction;
  margin-right: 5px;
}
#itemIcon6 {
  color: $color-gpon-microwave;
  margin-right: 5px;
}
#itemIcon7 {
  color: $color-gpon-construction;
  margin-right: 5px;
}

img {
  width: 95%;
}

#matListSites > mat-list-item {
  font-weight: 500;
}

.icon-clear-search {
  background-color: $color-btn-clear;
  font-size: 14px;
  width: 18px;
  height: 18px;
  border-radius: 50% !important;
  line-height: 19px;
}
.btn-clear-search {
  background-color: $color-white;
}
.color {
  background-color: #3b4559 !important;
  color: $color-white;
}
.underline {
  text-decoration: underline;
  color: grey;
  font-weight: 500;
}

.btn-check-no-shadow,
.btn-check:checked + .btn-check:focus {
  box-shadow: none !important;
}

//need toggle
.conteiner-btn-accounts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.btn-check-no-shadow,
.btn-check:checked + .btn-check:focus {
  box-shadow: none !important;
}

.btn-check-white{
border: none;
    color: black;
    background: white;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 8%)!important;
}

.btn-check-white:hover {
color: #FF0000 !important;
    background-color: #FF0000;
    /* opacity: 0.1; */
    background: rgba(260,0,0,.1);
    font-weight: 600;
    border: none;
}

.btn-check:checked + .btn-check-white {
color: #FF0000 !important;
    background-color: #FF0000;
    /* opacity: 0.1; */
    background: rgba(260,0,0,.1);
    font-weight: 600;
    border: none;
}

// .btn {
//   border: 1px solid $color-microwave !important;
// }

// .btn-sites {
//   background: red !important;
//   display: flex;
//   flex-direction: row-reverse;
//   justify-content: space-evenly;
// }

#red {
  background: red !important;
  font-weight: 400;
}

.font {
  color:red;
}

.flex-v-center {
  display: flex;
  align-items: center;
}

select.form-control{display:inline-block}
