<app-header-actions
  [hidenCreateOportunity]="true"
  [showRelatedText]="false"
  [isLoadSites]="true"
  title="Sitios Cargados"
></app-header-actions>
<app-header-detail [detailInfo]="infoDetail"></app-header-detail>

<div class="d-flex justify-content-center align-items-center">
  <div class="input-group w-50 shadow-sm">
    <input
      type="text"
      class="form-control search-bar mt-0"
      placeholder="Añade tu sitio(s) buscando la dirección o coordenada"
      aria-label="Añade tu sitio(s) buscando la dirección o coordenada"
      aria-describedby="basic-addon2"
      [formControl]="searchData"
      [matAutocomplete]="auto"
      (keydown.enter)="search()"
    />
    <button
      class="btn-clear-search"
      *ngIf="selectedIdOption"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearSearch()"
    >
      <mat-icon class="icon-clear-search">close</mat-icon>
    </button>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        (click)="setSearchId(option.id)"
        *ngFor="let option of filteredOptions | async"
        [value]="option.name + ' ' + option.location + ' ' + option.type"
      >
        {{ option.name }} {{ option.location }}
        <small class="small-type">{{ option.type }}</small>
      </mat-option>
    </mat-autocomplete>

    <div class="search-bar-divider">
      <span class="search-bar-span">&nbsp;</span>
    </div>
    <button
      class="btn btn-outline-secondary pt-2 search-bar search-bar-btn"
      id="basic-addon2"
      (click)="search()"
    >
      <mat-icon class="search-icon">search</mat-icon>
    </button>
  </div>
  <button type="button" [disabled]="selectedIdOption == 0" class="btn-add">
    Agregar
  </button>
</div>

<div class="row">
  <div class="col-md-7 lg-7 xl-7">
    <app-table-general
      [showHeaderTable]="true"
      [columns]="dataActivityHistory.columnsShow"
      [dataSource]="dataActivityHistory.dataSource"
      [idTableShow]="10"
    ></app-table-general>
  </div>
</div>
