<div class="mat-elevation-z1 card-form p-3">
  <div class="row">
    <h2 class="text-bold">Detalle de la oportunidad</h2>
    <div class="d-flex flex-row">
      <span class="me-1">Etapa:</span> <strong>Necesidades</strong>
    </div>
    <div class="col-md-4 col-lg-4 col-xl-4">
      <div class="input-container">
        <mat-form-field class="w-100 mt-2" appearance="fill">
          <mat-label class="label-form-field">Nombre de la cuenta</mat-label>
          <input matInput />
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label class="label-form-field"
            >Fecha estimada de cierre</mat-label
          >
          <mat-select>
            <mat-option value="one">Hoy</mat-option>
            <mat-option value="two">Manana</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="input-container">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label class="label-form-field">Flujo postventa</mat-label>
            <mat-select>
              <mat-option value="one">Renovacion</mat-option>
              <mat-option value="two">Nueva</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 col-xl-4">
      <div class="input-container">
        <mat-form-field class="w-100 mt-2" appearance="fill">
          <mat-label class="label-form-field"
            >Nombre de la oportunidad</mat-label
          >
          <input matInput />
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label class="label-form-field">Probabilidad (%)</mat-label>
          <mat-select>
            <mat-option value="one"
              >Definir criterios de probabilidad</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label class="label-form-field"
            >Definir criterios de probabilidad</mat-label
          >
          <mat-select>
            <mat-option value="one"> MXN - Peso Mexicano</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 col-xl-4">
      <div class="input-container mt-2">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label class="label-form-field"
            >Origen de la oportunidad</mat-label
          >
          <mat-select>
            <mat-option value="one"></mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label class="label-form-field">Nombre del ejecutivo</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <div class="input-container">
      <mat-form-field class="w-100 mt-2" appearance="fill">
        <mat-label class="label-form-field">Descripcion</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </div>
</div>
