<mat-tab-group animationDuration="0ms">
  <mat-tab label="Contactos (2)">
    <app-table-general [showHeaderTable]="true" [columns]="displayedColumns" [dataSource]="dataSource"
      [idTableShow]="7"></app-table-general>
  </mat-tab>
  <mat-tab label="{{'Archivos ('+files.length+')'}}">
    <app-upload-file *ngIf="files.length==0" (handdleFile)="handdleFile($event)"></app-upload-file>

    <app-table-general *ngIf="files.length>0" (fileEmitter)="handdleTableFile($event)" [idTableShow]="15"
      [dataFile]="dataFiles.dataSource" [columns]="dataFiles.columnsShow">
    </app-table-general>
  </mat-tab>
  <!-- Esta tabla debe cambiar con el diseño que solicite el diseñador -->
  <mat-tab label="Actividades (8)">
    <app-table-general [showHeaderTable]="true" [columns]="displayedColumnsActivities"
      [dataSource]="dataSourceActivities" [idTableShow]="13"></app-table-general>
  </mat-tab>
  <mat-tab label="Cuentas factura (6)">
    <app-table-general [showHeaderTable]="true" [columns]="displayedColumnsAccounts" [dataSource]="dataSourceAccounts"
      [idTableShow]="14"></app-table-general>
  </mat-tab>
</mat-tab-group>