@import "./../../../../styles.scss";

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: none !important;
  color: black;
}
.carousel-item {
  padding: 0 30px;
}

.carousel-control-next,
.carousel-control-prev {
  width: 10% !important;
}

.mat-form-field {
  width: 100% !important;
}

// Se deja deshabilitado por si alguna vez se usa en version mobile.
// .carousel-indicators{
//   position: initial !important;
//   background-color: $color-placeholder;
// }

.total-sales {
  li::marker {
    color: #846b99;
  }
}

.goal-sales {
  li::marker {
    color: #9bd3dd;
  }
}


.selection-date{
  border-radius:5px;
  border: 1px solid $color-placeholder;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  mat-icon{
    font-size:20px;
    padding: 0 !important;
    color: $color-placeholder;
    height:auto;
    width:auto;
  }
}