<div class="matDialogMassiveLoad">
  <div mat-dialog-title class="d-flex justify-content-end">
    <mat-icon class="c-pointer" (click)="onNoClick()">close</mat-icon>
  </div>

  <div mat-dialog-content class="contentDrop">
    <div>
      <ngx-file-drop
        dropZoneLabel="Drop files here"
        (onFileDrop)="dropped($event)"
        (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)"
      >
        <ng-template
          ngx-file-drop-content-tmp
          let-openFileSelector="openFileSelector"
        >
          <div>
            <div>
              <img src="../../../../../assets/img/upload.png" alt="" />
            </div>
            <div class="textDrop">
              {{ contentLabels + "p-text1" | translate }}
            </div>
            <p class="lineDrop textDrop">ó</p>
            <div>
              <button
                class="btn-ok"
                (click)="openFileSelector()"
                mat-button
                cdkFocusInitial
              >
                {{ contentLabels + "btn-ok" | translate }}
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-file-drop>
    </div>
  </div>
  <div class="matDialogActions" mat-dialog-actions>
    <p class="textDropActions">
      {{ contentLabels + "p-text2" | translate }}
      <a href="#">{{ contentLabels + "link" | translate }}</a
      >{{ contentLabels + "p-text3" | translate }}
    </p>
  </div>
</div>
