<mat-accordion class="m-1">
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>Videovigilancia</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item>Kits</a>
      <a mat-list-item>NVR</a>
      <a mat-list-item>Administrada</a>
      <a mat-list-item>Avanzada</a>
      <a mat-list-item>Empresarial</a>
      <a mat-list-item>Móvil</a>
      <a mat-list-item>Premium</a>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>
