.mat-expansion-panel-header.mat-expanded {
  background: #e0e6f1 !important;
  height: 45px;
  border-left: red 3px solid !important;
}

.mat-expansion-panel-spacing {
  margin: 0;
}

.mat-expansion-panel-header {
  height: 30px;
//   color: fuchsia;
}

.mat-expansion-panel-header-title {
  font-weight: 500;
}

.mat-list-item {
  height: 20px !important;
}
