<mat-card class="h-100">
  <div class="row g-0 mb-2">
    <div class="gx-0 col-6">
      <span class="tx-20 text-bold">Instalaciones</span>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <span class="tx-14 text-bold"> {{ today | date: "dd-MM-yyyy" }} </span>
    </div>
  </div>

  <div class="row mt-1 h-75 align-items-center justify-content-center">
    <div class="col-3 ps-5 align-items-start px-0">
      <div class="col">
        <div
          class="row tx-12"
          *ngFor="let numbers of chartSeries[0]; let i = index"
        >
          <div class="col">
            <span
              [style]="'background-color:' + chartOptions.colors[i]"
              class="count-sales primary-sale"
            ></span>
            <small>{{ chartOptions.labels[i] }}</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <!-- <app-chart *ngIf="chartProps" [graphOptions]="chartProps"></app-chart> -->
      <apx-chart
      class="c-pointer"
       (click)="goInstallations('instalations/1')"
        [series]="chartSeries[0]"
        [chart]="chartOptions.chart"
        [labels]="chartOptions.labels"
        [responsive]="chartOptions.responsive"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [legend]="chartOptions.legend"
        [colors]="chartOptions.colors"
      ></apx-chart>
      <span class="text-bold ps-2 tx-12 color-by-installing">Por instalar</span>
    </div>
    <div class="col-2 text-center px-0">
      <!-- <app-chart *ngIf="chartProps" [graphOptions]="chartProps"></app-chart> -->
      <apx-chart
            class="c-pointer"
       (click)="goInstallations('instalations/2')"
        [series]="chartSeries[1]"
        [chart]="chartOptions.chart"
        [labels]="chartOptions.labels"
        [responsive]="chartOptions.responsive"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [legend]="chartOptions.legend"
        [colors]="chartOptions.colors"
      ></apx-chart>
      <span class="text-bold ps-2 tx-12 color-in-process">En proceso</span>
    </div>
    <div class="col-2 text-center px-0">
      <!-- <app-chart *ngIf="chartProps" [graphOptions]="chartProps"></app-chart> -->
      <apx-chart
            class="c-pointer"
       (click)="goInstallations('instalations/3')"
        [series]="chartSeries[2]"
        [chart]="chartOptions.chart"
        [labels]="chartOptions.labels"
        [responsive]="chartOptions.responsive"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [legend]="chartOptions.legend"
        [colors]="chartOptions.colors"
      ></apx-chart>
      <span class="text-bold ps-2 tx-12 color-installed">Instaladas</span>
    </div>
    <div class="col-3 text-center px-0">
      <!-- <app-chart *ngIf="chartProps" [graphOptions]="chartProps"></app-chart> -->
      <apx-chart
        [series]="totalFinal"
        [chart]="chartOptionsTotal.chart"
        [labels]="labelsTotal"
        [responsive]="chartOptionsTotal.responsive"
        [dataLabels]="chartOptionsTotal.dataLabels"
        [plotOptions]="chartOptionsTotal.plotOptions"
        [legend]="chartOptionsTotal.legend"
        [colors]="colorsTotal"
      ></apx-chart>
      <span class="text-bold ps-2 tx-12">TOTAL</span>
    </div>

  </div>
</mat-card>
