<!-- Titulo y botones superiores -->
<app-header-actions
  [title]="'Relacionado'"
  buttonText="Crear oportunidad"
  [route]="'opportunities/new/op/' + accountId"
  relatedText="Detalles"
  [relatedRoute]="'accounts/detail/' + accountId"
  [hidenCreateOportunity]="false"
>
</app-header-actions>
<!-- FIN Titulo y botones superiores -->

<!-- Barra de detalles -->
<app-header-detail [detailInfo]="infoDetail"></app-header-detail>
<!-- FIN Barra de detalles -->

<!-- Tabla de contenido -->

<div class="d-flex justify-content-between align-items-center">
  <h2 class="mt-1 text-bold">
    Oportunidades de la cuenta ({{ dataSource.length }})
  </h2>
  <div>
    <select class="order-by small-shadow" name="" placeholder="Ordenar por">
      <option value="0" selected="true" disabled>Ordenar por</option>
      <option value="1">Recientes</option>
      <option value="2">Ultimos 7 dias</option>
      <option value="3">Ultimo mes</option>
    </select>
  </div>
</div>

<app-table-general
  [showHeaderTable]="false"
  [columns]="columnsShow"
  [dataSource]="dataSource"
  [idTableShow]="6"
></app-table-general>
<!-- FIN Tabla de contenido -->

<!-- Tabs y tablas inferiores -->
<section #bottom_tabs>
  <app-accounts-list-bottom-tabs></app-accounts-list-bottom-tabs>
</section>
<!-- FIN Tabs y tablas inferiores -->
