table {
  width: 100%;
}
.numberList {
  word-break: break-all;
}

.mat-column-site {
  flex: none;
  width: 200px;
}

.mat-column-coverage {
  flex: none;
  text-align: center;
  width: 70px;
}

.mat-column-check {
  flex: none;
  width: 10px;
}
.mat-column-action {
  // background: red;
  flex: none;
  width: 15px;
}

.mat-column-accessMedia {
  // background: red;
  width: 20px;
  text-align: center;
  flex: none;
}
