<mat-card class="h-100">
  <div class="row g-0 h-auto">
    <div class="col-6 gx-0">
      <span class="text-bold">{{
        contentLabels + "indicators" | translate
      }}</span>
    </div>
    <div class="col-6 gx-0 d-flex justify-content-end">
      <mat-form-field appearance="fill" class="date-range-input">
        <mat-label>{{ contentLabels + "date-range" | translate }}</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input
            matStartDate
            formControlName="start"
            [placeholder]="contentLabels + 'date-start' | translate"
            readonly
            (click)="picker.open()"
          />
          <input
            matEndDate
            formControlName="end"
            [placeholder]="contentLabels + 'date-end' | translate"
            readonly
            (click)="picker.open()"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error
          *ngIf="range.controls.start.hasError('matStartDateInvalid')"
          >{{ contentLabels + "date-start-invalid" | translate }}</mat-error
        >
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">{{
          contentLabels + "date-end-invalid" | translate
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row h-75">
    <app-chart [graphOptions]="chartProps"></app-chart>
  </div>
  <div class="d-flex justify-content-end">
    <button mat-button class="text-bold warn-btn">
      {{ contentLabels + "clarity-portal" | translate }}
      <mat-icon>east</mat-icon>
    </button>
  </div>
</mat-card>
