<mat-toolbar class="shadow-sm">
  <div class="btn-menu">
    <button (click)="displayMenu()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <img src="assets/img/tpEmpresarial.jpeg" />
  </div>

  <span class="toolbar-spacer"></span>
  <div class="input-group w-50 shadow-sm">
    <input
      type="search"
      class="form-control search-bar"
      placeholder="Buscar Cuenta u oportunidad"
      aria-label="Buscar Cuenta u oportunidad"
      aria-describedby="basic-addon2"
      matInput
           [formControl]="searchData"
           [matAutocomplete]="auto"
           (keydown.enter)="search()"
    >
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>

    <div class="search-bar-divider">
      <span class="search-bar-span">&nbsp;</span>
    </div>
    <button
      class="btn btn-outline-secondary pt-2 search-bar search-bar-btn"
      id="basic-addon2"
      (click)="search()"
    >
      <mat-icon class="search-icon">search</mat-icon>
    </button>
  </div>
  <span class="toolbar-spacer"></span>
  <button
    class="btn-language me-4 px-2"
    [matMenuTriggerFor]="menuLangs"
    mat-mini-fab
    [style]="'background-image: url(' + countryFlag + ');'"
  ></button>
  <mat-menu #menuLangs="matMenu">
    <button
      (click)="selectCountry(country)"
      *ngFor="let country of countries"
      mat-menu-item
    >
      <span>{{ country.country }}</span>
    </button>
  </mat-menu>
  <button class="btn-notifications me-4 px-2" mat-raised-button>
    <span
      class="
        position-absolute
        top-0
        start-100
        translate-middle
        badge
        rounded-pill
        bg-danger
      "
    >
      {{ countNotifications }}
      <span class="visually-hidden">unread messages</span>
    </span>
    <mat-icon>notifications</mat-icon>
  </button>

  <div>
    <button
      mat-mini-fab
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      {{ getInitials() }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Perfil</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesi&oacute;n</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
