@import "../../../styles.scss";

.toolbar-spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  padding-left: 0px;
  height: 60px;
  background-color: $color-body;
  position: sticky;
  top: 0;
  z-index: 2000;
}

mat-toolbar img {
  height: 60px;
}

.btn-menu {
  background-color: $color-primary;
  height: 60px;
  color: #fff;
}
.btn-notifications {
  min-width: 2px !important;
}

.btn-language {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $color-body;
}

.search-bar {
  border-radius: 25px;
  border: none;
  height: 40px;
}
.search-bar-btn {
  &:hover {
    background-color: $color-primary;
  }
  &:focus {
    box-shadow: none;
  }
  background-color: $color-white;
}

.search-bar-divider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-span {
  background-color: $color-placeholder;
  width: 3px;
  height: 50%;
}

.search-icon {
  color: $color-placeholder;
}
.input-group {
  border-radius: 25px;
}
