<app-header-actions
  [title]="'Detalle'"
  [hasBackButton]="true"
  [hidenCreateOportunity]="true"
>
</app-header-actions>
<app-header-detail></app-header-detail>

<div class="row g-0 mt-2">
  <mat-expansion-panel class="w-100 h-100">
    <mat-expansion-panel-header>
      <mat-panel-title class="text-bold"> Datos principales </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="login-form" [formGroup]="principalData" novalidate>
      <div class="row">
        <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de persona</mat-label>
            <input
              matInput
              placeholder="Tipo de persona"
              formControlName="type"
            />
            <mat-error *ngIf="principalData.controls.type.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de persona</mat-label>
            <input
              matInput
              placeholder="Tipo de persona"
              formControlName="type"
            />
            <mat-error *ngIf="principalData.controls.type.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de persona</mat-label>
            <input
              matInput
              placeholder="Tipo de persona"
              formControlName="type"
            />
            <mat-error *ngIf="principalData.controls.type.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de persona</mat-label>
            <input
              matInput
              placeholder="Tipo de persona"
              formControlName="type"
            />
            <mat-error *ngIf="principalData.controls.type.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de persona</mat-label>
            <input
              matInput
              placeholder="Tipo de persona"
              formControlName="type"
            />
            <mat-error *ngIf="principalData.controls.type.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de persona</mat-label>
            <input
              matInput
              placeholder="Tipo de persona"
              formControlName="type"
            />
            <mat-error *ngIf="principalData.controls.type.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de persona</mat-label>
            <input
              matInput
              placeholder="Tipo de persona"
              formControlName="type"
            />
            <mat-error *ngIf="principalData.controls.type.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de persona</mat-label>
            <input
              matInput
              placeholder="Tipo de persona"
              formControlName="type"
            />
            <mat-error *ngIf="principalData.controls.type.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de persona</mat-label>
            <input
              matInput
              placeholder="Tipo de persona"
              formControlName="type"
            />
            <mat-error *ngIf="principalData.controls.type.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de persona</mat-label>
            <input
              matInput
              placeholder="Tipo de persona"
              formControlName="type"
            />
            <mat-error *ngIf="principalData.controls.type.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de persona</mat-label>
            <input
              matInput
              placeholder="Tipo de persona"
              formControlName="type"
            />
            <mat-error *ngIf="principalData.controls.type.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de persona</mat-label>
            <input
              matInput
              placeholder="Tipo de persona"
              formControlName="type"
            />
            <mat-error *ngIf="principalData.controls.type.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de persona</mat-label>
            <input
              matInput
              placeholder="Tipo de persona"
              formControlName="type"
            />
            <mat-error *ngIf="principalData.controls.type.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de persona</mat-label>
            <input
              matInput
              placeholder="Tipo de persona"
              formControlName="type"
            />
            <mat-error *ngIf="principalData.controls.type.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de persona</mat-label>
            <input
              matInput
              placeholder="Tipo de persona"
              formControlName="type"
            />
            <mat-error *ngIf="principalData.controls.type.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de persona</mat-label>
            <input
              matInput
              placeholder="Tipo de persona"
              formControlName="type"
            />
            <mat-error *ngIf="principalData.controls.type.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de persona</mat-label>
            <input
              matInput
              placeholder="Tipo de persona"
              formControlName="type"
            />
            <mat-error *ngIf="principalData.controls.type.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de persona</mat-label>
            <input
              matInput
              placeholder="Tipo de persona"
              formControlName="type"
            />
            <mat-error *ngIf="principalData.controls.type.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</div>
