<app-header-actions
  [title]="'Detalle'"
  [hasBackButton]="true"
  [hidenCreateOportunity]="true"
>
</app-header-actions>
<app-header-detail></app-header-detail>

<div class="row g-0 mt-2">
  <mat-expansion-panel class="w-100 h-100">
    <mat-expansion-panel-header>
      <mat-panel-title class="text-bold"> Datos principales </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="login-form" [formGroup]="principalDataForm" novalidate>
      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de persona</mat-label>
            <input
              matInput
              placeholder="Ingrese Tipo de persona"
              formControlName="regime"
              autocomplete="off"
            />
            <mat-error *ngIf="principalDataForm.controls.regime.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Nombre de la cuenta</mat-label>
            <input
              matInput
              placeholder="Ingrese Nombre de la cuenta"
              formControlName="account_name"
            />
            <mat-error *ngIf="principalDataForm.controls.account_name.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Razon social</mat-label>
            <input
              matInput
              placeholder="Ingrese Razon social"
              formControlName="enterprise_name"
            />
            <mat-error
              *ngIf="principalDataForm.controls.enterprise_name.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Cuenta principal</mat-label>
            <input
              matInput
              placeholder="Ingrese Cuenta principal"
              formControlName="main_account"
            />
            <mat-error *ngIf="principalDataForm.controls.main_account.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>RFC</mat-label>
            <input
              matInput
              placeholder="Ingrese RFC"
              formControlName="tax_identification"
            />
            <mat-error
              *ngIf="principalDataForm.controls.tax_identification.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Clase de cuenta</mat-label>
            <input
              matInput
              placeholder="Ingrese Clase de cuenta"
              formControlName="account_class"
            />
            <mat-error *ngIf="principalDataForm.controls.account_class.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Numero de la cuenta</mat-label>
            <input
              matInput
              placeholder="Ingrese Numero de la cuenta"
              formControlName="account_number"
            />
            <mat-error *ngIf="principalDataForm.controls.account_number.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Referencia Urbana</mat-label>
            <input
              matInput
              placeholder="Ingrese Referencia Urbana"
              formControlName="urban_reference"
            />
            <mat-error
              *ngIf="principalDataForm.controls.urban_reference.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Segmento facturación</mat-label>
            <input
              matInput
              placeholder="Ingrese Segmento facturación"
              formControlName="billing_segment"
            />
            <mat-error
              *ngIf="principalDataForm.controls.billing_segment.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Monto facturación potencial</mat-label>
            <input
              matInput
              placeholder="Ingrese Monto facturación potencial"
              formControlName="potencial_billing_amount"
            />
            <mat-error
              *ngIf="
                principalDataForm.controls.potencial_billing_amount.invalid
              "
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <div class="w-100 h-100 py-3" appearance="fill">
            <mat-label>Segmento: </mat-label>
            <input
              formControlName="segment"
              id="segment1"
              type="radio"
              class="btn-check"
              autocomplete="off"
              value="1"
              checked
            />
            <label
              id="btn-check-segment1"
              for="segment1"
              class="
                btn btn-sm btn-outline-primary
                ms-3
                me-2
                btn-check-segment
                px-4
              "
            >
              I
            </label>

            <input
              formControlName="segment"
              id="segment2"
              type="radio"
              class="btn-check"
              autocomplete="off"
              value="2"
            />
            <label
              id="btn-check-segment2"
              for="segment2"
              class="btn btn-sm btn-outline-primary me-2 btn-check-segment px-4"
            >
              II
            </label>

            <input
              formControlName="segment"
              id="segment2"
              type="radio"
              class="btn-check"
              autocomplete="off"
              value="3"
            />
            <label
              id="btn-check-segment2"
              for="segment2"
              class="btn btn-sm btn-outline-primary me-2 btn-check-segment px-4"
            >
              III
            </label>

            <input
              formControlName="segment"
              id="segment2"
              type="radio"
              class="btn-check"
              autocomplete="off"
              value="4"
            />
            <label
              id="btn-check-segment2"
              for="segment2"
              class="btn btn-sm btn-outline-primary me-2 btn-check-segment px-4"
            >
              IV
            </label>
          </div>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Teléfono</mat-label>
            <input
              matInput
              placeholder="Ingrese Teléfono"
              formControlName="phone"
            />
            <mat-error *ngIf="principalDataForm.controls.phone.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Sitio Web</mat-label>
            <input
              matInput
              placeholder="Ingrese Sitio Web"
              formControlName="website"
            />
            <mat-error *ngIf="principalDataForm.controls.website.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Sector</mat-label>
            <input
              matInput
              placeholder="Ingrese Sector"
              formControlName="sector"
            />
            <mat-error *ngIf="principalDataForm.controls.sector.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tamaño</mat-label>
            <input
              matInput
              placeholder="Ingrese Tamaño"
              formControlName="size"
            />
            <mat-error *ngIf="principalDataForm.controls.size.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Empleados</mat-label>
            <input
              matInput
              placeholder="Ingrese Empleados"
              formControlName="employees_amount"
            />
            <mat-error
              *ngIf="principalDataForm.controls.employees_amount.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>VIP</mat-label>
            <input matInput placeholder="Ingrese VIP" formControlName="isVip" />
            <mat-error *ngIf="principalDataForm.controls.isVip.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Folio cuenta</mat-label>
            <input
              matInput
              placeholder="Ingrese Folio cuenta"
              formControlName="account_id"
            />
            <mat-error *ngIf="principalDataForm.controls.account_id.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</div>

<div class="row g-0 mt-2">
  <mat-expansion-panel class="w-100 h-100">
    <mat-expansion-panel-header>
      <mat-panel-title class="text-bold">
        Información de dirección
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="login-form" [formGroup]="addressInformationForm" novalidate>
      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Calle</mat-label>
            <input
              matInput
              placeholder="Ingrese Calle"
              formControlName="street"
            />
            <mat-error *ngIf="addressInformationForm.controls.street.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Número exterior</mat-label>
            <input
              matInput
              placeholder="Ingrese Número exterior"
              formControlName="number"
            />
            <mat-error *ngIf="addressInformationForm.controls.number.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Número interior</mat-label>
            <input
              matInput
              placeholder="Ingrese Número interior"
              formControlName="interior_number"
            />
            <mat-error
              *ngIf="addressInformationForm.controls.interior_number.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>CP Colonia</mat-label>
            <input
              matInput
              placeholder="Ingrese CP Colonia"
              formControlName="town"
            />
            <mat-error *ngIf="addressInformationForm.controls.town.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Mapa</mat-label>
            <input matInput placeholder="Ingrese Mapa" formControlName="map" />
            <mat-error *ngIf="addressInformationForm.controls.map.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de registro de cuenta</mat-label>
            <input
              matInput
              placeholder="Ingrese Número interior"
              formControlName="account_registration_type"
            />
            <mat-error
              *ngIf="
                addressInformationForm.controls.account_registration_type
                  .invalid
              "
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Delegación / Municipio</mat-label>
            <input
              matInput
              placeholder="Ingrese Delegación / Municipio"
              formControlName="county"
            />
            <mat-error *ngIf="addressInformationForm.controls.county.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Ciudad</mat-label>
            <input
              matInput
              placeholder="Ingrese Ciudad"
              formControlName="city"
            />
            <mat-error *ngIf="addressInformationForm.controls.city.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Estado</mat-label>
            <input
              matInput
              placeholder="Ingrese Estado"
              formControlName="state"
            />
            <mat-error *ngIf="addressInformationForm.controls.state.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Código Postal</mat-label>
            <input
              matInput
              placeholder="Ingrese Código Postal"
              formControlName="cp"
            />
            <mat-error *ngIf="addressInformationForm.controls.cp.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Empleados</mat-label>
            <input
              matInput
              placeholder="Ingrese Empleados"
              formControlName="employees_amount"
            />
            <mat-error
              *ngIf="addressInformationForm.controls.employees_amount.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Geolocalización</mat-label>
            <input
              matInput
              placeholder="Ingrese Geolocalización"
              formControlName="geolocation"
            />
            <mat-error
              *ngIf="addressInformationForm.controls.geolocation.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</div>

<div class="row g-0 mt-2">
  <mat-expansion-panel class="w-100 h-100">
    <mat-expansion-panel-header>
      <mat-panel-title class="text-bold"> Descripción </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="login-form" [formGroup]="descriptionForm" novalidate>
      <div class="row">
        <div class="col-12 input-container">
          <div class="form-floating">
            <textarea
              formControlName="description"
              class="form-control"
              placeholder="Ingrese Leave a comment here"
              id="floatingTextarea2"
              style="height: 100px"
            ></textarea>
            <label for="floatingTextarea2">Comments</label>
          </div>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</div>

<div class="row g-0 mt-2">
  <mat-expansion-panel class="w-100 h-100">
    <mat-expansion-panel-header>
      <mat-panel-title class="text-bold">
        Información del sistema
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="login-form" [formGroup]="systemInformationForm" novalidate>
      <div class="row">
        <div class="col-3 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Creado por</mat-label>
            <input
              matInput
              placeholder="Ingrese Creado por"
              formControlName="createdBy"
            />
            <mat-error *ngIf="systemInformationForm.controls.createdBy.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-3 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Id CRM origen</mat-label>
            <input
              matInput
              placeholder="Ingrese Id CRM origen"
              formControlName="originCRM"
            />
            <mat-error *ngIf="systemInformationForm.controls.originCRM.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-3 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Última modificación</mat-label>
            <input
              matInput
              placeholder="Ingrese Última modificación"
              formControlName="lastUpdatedBy"
            />
            <mat-error
              *ngIf="systemInformationForm.controls.lastUpdatedBy.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-3 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Propietario de la cuenta</mat-label>
            <input
              matInput
              placeholder="Ingrese Propietario de la cuenta"
              formControlName="accountOwner"
            />
            <mat-error
              *ngIf="systemInformationForm.controls.accountOwner.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</div>
