<div class="d-flex justify-content-center pb-1 text-bold">
  <span>{{ graphOptions.title }}</span>
</div>
<div *ngIf="doughnutChartData" [class]="graphOptions.class">
  <p *ngIf="graphOptions.chartType !== 'line'" class="chart-sum">{{ suma }}</p>
  <canvas
    [width]="graphOptions.width"
    [height]="graphOptions.height"
    responsive="true"
    baseChart
    [datasets]="doughnutChartData"
    [labels]="graphOptions.labels"
    [chartType]="graphOptions.chartType"
    [options]="options"
  >
  </canvas>
</div>
