<div class="bg-login">
  <div class="container-fluid container-login">
    <div class="row content-login gx-0">
      <div class="col-lg-6 col-12">
        <div class="box-login ps-5 pt-5">
          <div class="logo ps-4">
            <img
              src="../../../assets/img/logo-totalplay.svg"
              class="img-fluid"
              alt="Logotipo Totalplay Empresarial"
            />
          </div>
          <div class="content-form-login">
            <h1>{{ contentLabels + "title" | translate }}</h1>
            <p>{{ contentLabels + "message" | translate }}</p>
            <form class="login-form" [formGroup]="loginForm" novalidate>
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>{{
                  contentLabels + "user-label" | translate
                }}</mat-label>
                <input
                  matInput
                  [placeholder]="contentLabels + 'user-placeholder' | translate"
                  formControlName="username"
                />
              </mat-form-field>

              <mat-form-field class="w-100" appearance="fill">
                <mat-label>{{
                  contentLabels + "password-label" | translate
                }}</mat-label>
                <input
                  matInput
                  [placeholder]="
                    contentLabels + 'password-placeholder' | translate
                  "
                  formControlName="password"
                  type="password"
                />
              </mat-form-field>
              <button
                (click)="login()"
                [disabled]="loginForm.invalid"
                type="button"
                class="primary-button"
              >
                {{ contentLabels + "btn-login" | translate }}
              </button>
              <div class="box-password">
                <a href="#" class="forgot-password">{{
                  contentLabels + "link-forgot-pwd" | translate
                }}</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <footer class="py-4">
    <div class="text-center">
      <span>{{ contentLabels + "footer" | translate }}</span>
    </div>
  </footer> -->
</div>
