@import "../../../styles.scss";

.bg-login {
  background-image: url("../../../assets/img/login-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.container-login {
  padding: 0 !important;
}
.box-login {
  justify-content: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.logo {
  padding: 30px 0;
  text-align: center;
}

.login-form {
  min-width: 300px;
  max-width: 300px;
  width: 100%;
}

.content-form-login input {
  width: 100%;
  border: none;
}
.content-form-login input:focus-visible {
  outline: none;
}
.user-login,
.password-login {
  position: relative;
  margin: 20px 0;
}
.user-login label,
.password-login label {
  left: 0;
  position: absolute;
}
.primary-button {
  width: 100%;
  height: 40px;
  border: none;
  color: $color-white;
  margin: 30px 0;
  max-width: 300px;
  border-radius: 6px;
  background-color: $color-primary;
}

.primary-button:hover {
  background-color: $color-hover;
}

.primary-button[disabled] {
  background-color: $color-primary;
  opacity: 0.5;
}

.box-password {
  text-align: center;
}
.forgot-password {
  color: $color-black;
}
.forgot-password:hover {
  color: $color-hover;
}

footer {
  align-self: baseline;
  align-content: center;
  width: 100%;
}

.rotate {
  width: 50px;
  height: 50px;
  img {
    width: 50px;
    height: 50px;
  }
  animation: spin 1s ease infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.drawer-secondary-container {
  padding: 0px !important;
}
