<!-- Tabla de cuentas -->
<table
  *ngIf="idTableShow == 1"
  id="dataTable"
  datatable
  [dtOptions]="dtOptions"
  class="general-table row-border"
>
  <thead>
    <tr class="t-row">
      <th *ngFor="let col of columns">{{ col.columnName | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr
      (click)="goAccountDetail(account)"
      class="table-element-row shadow-sm t-row"
      *ngFor="let account of dataSource"
    >
      <td class="mat-cell">{{ account.id }}</td>
      <td class="mat-cell">{{ account.accountName }}</td>
      <td class="mat-cell">{{ account.accountId }}</td>
      <td class="mat-cell">{{ account.taxIdentification }}</td>
      <td class="mat-cell">{{ account.segment }}</td>
      <td class="mat-cell">{{ account.phone }}</td>
      <td class="mat-cell">{{ account.contact }}</td>
      <td class="mat-cell">{{ account.created }}</td>
    </tr>
  </tbody>
</table>

<!-- Tabla de oportunidades -->
<table
  *ngIf="idTableShow == 2"
  id="dataTable"
  datatable
  [dtOptions]="dtOptions"
  class="general-table row-border"
>
  <thead>
    <tr class="t-row">
      <th *ngFor="let col of columns">{{ col.columnName | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr
      (click)="goOpportunities(opportunity)"
      class="table-element-row shadow-sm t-row"
      *ngFor="let opportunity of dataSource"
    >
      <td class="mat-cell">{{ opportunity.name }}</td>
      <td class="mat-cell">{{ opportunity.number }}</td>
      <td class="mat-cell">{{ opportunity.accountName }}</td>
      <td class="mat-cell">{{ opportunity.stage }}</td>
      <td class="mat-cell">{{ opportunity.amount }}</td>
      <td class="mat-cell">{{ opportunity.createdDate }}</td>
      <td class="mat-cell">{{ opportunity.closeDate }}</td>
    </tr>
  </tbody>
</table>

<!-- tabla de cotizaciones -->

<table
  *ngIf="idTableShow == 3"
  id="dataTable"
  datatable
  [dtOptions]="dtOptions"
  class="general-table row-border"
>
  <thead>
    <tr class="t-row">
      <th *ngFor="let col of columns">{{ col.columnName | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr
      (click)="goQuotesDetail(account)"
      class="table-element-row shadow-sm t-row"
      [routerLink]="['/quotes', account.id]"
      *ngFor="let account of dataSource"
    >
      <td class="mat-cell">{{ account.name }}</td>
      <td class="mat-cell">{{ account.invoice }}</td>
      <td class="mat-cell">{{ account.opportunity.name }}</td>
      <td class="mat-cell">{{ account.status }}</td>
      <td class="mat-cell">{{ account.created }}</td>
      <td class="mat-cell">{{ account.validity }}</td>
    </tr>
  </tbody>
</table>

<!-- tabla de cotizaciones (relacionado) -->

<table
  *ngIf="idTableShow == 8"
  id="dataTable"
  datatable
  [dtOptions]="dtOptions"
  class="general-table row-border"
>
  <thead>
    <tr class="t-row">
      <th *ngFor="let col of columns">
        {{ col.columnName | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="c-pointer shadow-sm t-row" *ngFor="let account of dataSource">
      <td class="mat-cell">{{ account.siteFolio }}</td>
      <td class="mat-cell">{{ account.street }}</td>
      <td class="mat-cell">{{ account.colony }}</td>
      <td class="mat-cell">{{ account.delegation }}</td>
      <td class="mat-cell">{{ account.city }}</td>
      <td class="mat-cell">{{ account.state }}</td>
      <td class="mat-cell">{{ account.cp }}</td>
    </tr>
  </tbody>
</table>

<!-- tabla de oportunidades (relacionado)-->

<table
  *ngIf="idTableShow == 4"
  id="dataTable"
  datatable
  [dtOptions]="dtOptions"
  class="row-border general-table"
>
  <thead>
    <tr class="t-row">
      <th *ngFor="let col of columns">
        {{ col.columnName | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="shadow-sm c-pointer t-row"
      *ngFor="let account of dataSource; let i = index"
      (click)="goQuotesDetail(account)"
    >
      <td class="mat-cell">{{ account.quoteName }}</td>
      <td class="mat-cell">{{ account.invoice }}</td>
      <td class="mat-cell">{{ account.mounthTotal }}</td>
      <td class="mat-cell">{{ account.status }}</td>
      <td class="mat-cell">{{ account.validity }}</td>
      <td class="mat-cell d-flex justify-content-center">
        <div>
          <input
            [id]="'radio-' + i"
            class="radio-custom"
            name="radio-group"
            type="radio"
            [checked]="account.mainCot"
          />
          <label [for]="'radio-' + i" class="radio-custom-label"></label>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!--tabla de contactos-->
<table
  *ngIf="idTableShow == 5"
  id="dataTable"
  datatable
  [dtOptions]="dtOptions"
  class="row-border general-table"
>
  <thead>
    <tr>
      <th class="text-center" *ngFor="let col of columns">
        {{ col.columnName | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="shadow-sm c-pointer"
      *ngFor="let account of dataSource; let i = index"
    >
      <td class="mat-cell text-center">{{ account.name }}</td>
      <td class="mat-cell text-center">{{ account.position }}</td>
      <td class="mat-cell text-center">{{ account.email }}</td>
      <td class="mat-cell text-center">{{ account.phone }}</td>
      <td class="mat-cell text-center">{{ account.contactType }}</td>
      <td class="mat-cell d-flex justify-content-center">
        <div>
          <input
            [id]="'contact-' + i"
            class="radio-custom"
            name="radio-contact"
            type="radio"
            [checked]="account.isMain"
          />
          <label [for]="'contact-' + i" class="radio-custom-label"></label>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- tabla de oportunidades (relacionado a cuentas) -->
<table
  *ngIf="idTableShow == 6"
  id="dataTable"
  datatable
  [dtOptions]="dtOptions"
  class="row-border general-table"
>
  <thead>
    <tr class="t-row">
      <th *ngFor="let col of columns">
        {{ col.columnName | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="shadow-sm c-pointer t-row"
      (click)="goOportunitiesDetail(account)"
      *ngFor="let account of dataSource; let i = index"
    >
      <td class="mat-cell ps-4">{{ account.name }}</td>
      <td class="mat-cell ps-4">{{ account.opportunity_number }}</td>
      <td class="mat-cell ps-4">{{ account.status }}</td>
      <td class="mat-cell ps-4">{{ account.mounthTotal }}</td>
      <td class="mat-cell ps-4">{{ account.closeDate }}</td>
      <td class="mat-cell ps-4">{{ account.created }}</td>
    </tr>
  </tbody>
</table>

<!-- tabla de contactos -->
<div *ngIf="idTableShow == 7">
  <div class="wrapper mt-3">
    <div class="d-flex justify-content-end">
      <button
        (click)="openDialogNewContact()"
        mat-button
        class="rounded-button-outline"
      >
        <mat-icon>add</mat-icon> Agregar contacto
      </button>
    </div>
    <div class="table-container m-2 shadow-sm">
      <table
        mat-table
        matSort
        [dataSource]="dataSource"
        class="mat-elevation-z8"
      >
        <!-- Nombre Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre del contacto</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Cargo Column -->
        <ng-container matColumnDef="range">
          <th mat-header-cell *matHeaderCellDef>Cargo</th>
          <td mat-cell *matCellDef="let element">{{ element.range }}</td>
        </ng-container>

        <!-- Correo Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Correo</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <!-- Telefono Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Teléfono</th>
          <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
        </ng-container>

        <!-- Tipo de contacto Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Tipo de contacto</th>
          <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>

        <!-- Principal Column -->
        <ng-container matColumnDef="principal">
          <th mat-header-cell *matHeaderCellDef>Principal</th>
          <!-- <td mat-cell *matCellDef="let element">{{ element.principal }}</td> -->
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            class="mat-cell justify-content-center"
          >
            <div>
              <input
                [id]="'contact-' + i"
                class="radio-custom"
                name="radio-contact"
                type="radio"
                [checked]="element.principal"
              />
              <label [for]="'contact-' + i" class="radio-custom-label"></label>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
    </div>
  </div>
</div>

<!--Tabla de historial de actividades-->
<table
  *ngIf="idTableShow == 9"
  id="history"
  datatable
  [dtOptions]="dtOptions"
  class="row-border general-table"
>
  <thead>
    <tr class="t-row">
      <th class="text-center" *ngFor="let col of columns">
        {{ col.columnName | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="shadow-sm c-pointer t-row"
      *ngFor="let account of dataSource; let i = index"
    >
      <td class="mat-cell text-center">{{ account.subject }}</td>
      <td class="mat-cell text-center">{{ account.name }}</td>
      <td class="mat-cell text-center">{{ account.relatedWith }}</td>
      <td class="mat-cell text-center">{{ account.expirationDate }}</td>
      <td class="mat-cell d-flex justify-content-center">
        {{ account.assignedTo }}
      </td>
    </tr>
  </tbody>
</table>

<!--Tabla de sitios cargados-->
<table
  *ngIf="idTableShow == 10"
  mat-table
  [dataSource]="dataSourceLoadedSites"
  class="mat-elevation-z0 sites-table"
>
  <!-- Check Column -->
  <ng-container matColumnDef="check">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        color="primary"
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        [aria-label]="checkboxLabel()"
      ></mat-checkbox>
    </th>
    <td
      [style.background-color]="element.color"
      mat-cell
      *matCellDef="let element"
    >
      <mat-checkbox
        color="primary"
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(element) : null"
        [checked]="selection.isSelected(element)"
        [aria-label]="checkboxLabel(element)"
      ></mat-checkbox>
    </td>
  </ng-container>

  <!-- Site Column -->
  <ng-container matColumnDef="site">
    <th mat-header-cell *matHeaderCellDef>Sitio</th>
    <td
      [style.background-color]="element.color"
      class="numberList"
      mat-cell
      *matCellDef="let element"
    >
      {{ element.site }}
    </td>
  </ng-container>

  <!-- Coverage Column -->
  <ng-container matColumnDef="coverage">
    <th mat-header-cell *matHeaderCellDef>Cobertura</th>
    <td
      [style.background-color]="element.color"
      mat-cell
      *matCellDef="let element"
    >
      {{ element.coverage }}
    </td>
  </ng-container>

  <!-- AccessMedia Column -->
  <ng-container matColumnDef="accessMedia">
    <th mat-header-cell *matHeaderCellDef>Medio de Acceso</th>
    <td
      [style.background-color]="element.color"
      mat-cell
      *matCellDef="let element"
    >
      {{ element.accessMedia }}
    </td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>
      <button
        [disabled]="disabled"
        (click)="onDeleteSites()"
        mat-mini-fab
        class="btn-trash"
        aria-label="Example icon button with a delete icon"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </th>
    <td
      [style.background-color]="element.color"
      mat-cell
      *matCellDef="let element"
    >
      <button (click)="onEdit()" class="btn-round">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns2"></tr>
  <tr mat-row *matRowDef="let row; columns: columns2"></tr>
</table>
<!--END Tabla de sitios cargados-->

<!--Tabla de socios-->
<table
  *ngIf="idTableShow == 11"
  datatable
  [dtOptions]="dtOptions"
  class="row-border general-table"
>
  <thead>
    <tr>
      <th *ngFor="let col of columns; let i = index">
        {{ col.columName | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="shadow-sm c-pointer"
      *ngFor="let account of dataSource; let i = index"
    >
      <td class="mat-cell">{{ account.user }}</td>
      <td class="mat-cell">{{ account.function }}</td>
    </tr>
  </tbody>
</table>

<!-- Tabla de equipo-->
<table
  *ngIf="idTableShow == 12"
  datatable
  [dtOptions]="dtOptions"
  class="row-border general-table"
>
  <thead>
    <tr>
      <th *ngFor="let col of columns; let i = index">
        {{ col.columName | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="shadow-sm c-pointer"
      *ngFor="let account of dataSource; let i = index"
    >
      <td class="mat-cell">{{ account.user }}</td>
      <td class="mat-cell">{{ account.function }}</td>
    </tr>
  </tbody>
</table>

<!-- Actividades -->
<div *ngIf="idTableShow == 13">
  <div class="wrapper mt-3">
    <div class="d-flex justify-content-end">
      <button
        mat-button
        class="rounded-button-outline"
        (click)="openDialogTask()"
      >
        <mat-icon>add</mat-icon> Nueva tarea
      </button>
      <button
        mat-button
        class="rounded-button-outline ms-5"
        (click)="openDialogEvent()"
      >
        <mat-icon>add</mat-icon> Nuevo evento
      </button>
    </div>
    <!-- Actividades abiertas -->
    <div class="row ps-4 g-0">
      <p class="text-bold">Actividades abiertas (2)</p>
    </div>
    <div class="table-container m-2 shadow-sm">
      <table
        mat-table
        matSort
        [dataSource]="dataSource"
        class="mat-elevation-z8"
      >
        <!-- Subject Column -->
        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef>Asunto</th>
          <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- related Column -->
        <ng-container matColumnDef="related">
          <th mat-header-cell *matHeaderCellDef>Relacionado con</th>
          <td mat-cell *matCellDef="let element">{{ element.related }}</td>
        </ng-container>

        <!-- expiration Column -->
        <ng-container matColumnDef="expiration">
          <th mat-header-cell *matHeaderCellDef>Vencimiento</th>
          <td mat-cell *matCellDef="let element">{{ element.expiration }}</td>
        </ng-container>

        <!-- assigned to Column -->
        <ng-container matColumnDef="assignedTo">
          <th mat-header-cell *matHeaderCellDef>Asignado a</th>
          <td
            mat-cell
            *matCellDef="let element"
            class="mat-cell justify-content-center"
          >
            {{ element.assignedTo }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
    </div>
    <!-- FIN actividades abiertas -->

    <!-- Historial de actividades -->
    <div class="row ps-4 mt-3 g-0">
      <p class="text-bold">Historial de actividades</p>
    </div>
    <div class="table-container m-2 shadow-sm">
      <table
        mat-table
        matSort
        [dataSource]="dataSource"
        class="mat-elevation-z8"
      >
        <!-- Subject Column -->
        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef>Asunto</th>
          <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- related Column -->
        <ng-container matColumnDef="related">
          <th mat-header-cell *matHeaderCellDef>Relacionado con</th>
          <td mat-cell *matCellDef="let element">{{ element.related }}</td>
        </ng-container>

        <!-- expiration Column -->
        <ng-container matColumnDef="expiration">
          <th mat-header-cell *matHeaderCellDef>Vencimiento</th>
          <td mat-cell *matCellDef="let element">{{ element.expiration }}</td>
        </ng-container>

        <!-- assigned to Column -->
        <ng-container matColumnDef="assignedTo">
          <th mat-header-cell *matHeaderCellDef>Asignado a</th>
          <td
            mat-cell
            *matCellDef="let element"
            class="mat-cell justify-content-center"
          >
            {{ element.assignedTo }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
    </div>
    <!-- FIN historial actividades -->
  </div>
</div>

<!-- Cuentas factura -->
<div *ngIf="idTableShow == 14">
  <div class="wrapper mt-3">
    <!-- Actividades abiertas -->
    <div class="table-container m-2 shadow-sm">
      <table
        mat-table
        matSort
        [dataSource]="dataSource"
        class="mat-elevation-z8"
      >
        <!-- name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            Nombre completo/Razón Social
          </th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- brm Column -->
        <ng-container matColumnDef="brm">
          <th mat-header-cell *matHeaderCellDef>Id de Cuenta BRM</th>
          <td mat-cell *matCellDef="let element">{{ element.brm }}</td>
        </ng-container>

        <!-- saleId Column -->
        <ng-container matColumnDef="saleId">
          <th mat-header-cell *matHeaderCellDef>Folio de venta</th>
          <td mat-cell *matCellDef="let element">{{ element.saleId }}</td>
        </ng-container>

        <!-- address Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Calle</th>
          <td mat-cell *matCellDef="let element">{{ element.address }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
    </div>
    <!-- FIN actividades abiertas -->
  </div>
</div>

<!-- tabla de archivos-->
<div *ngIf="idTableShow == 15">
  <div class="wrapper mt-3">
    <div class="d-flex justify-content-end mt-3">
      <app-upload-button-file
        (handdleFile)="handdleFile($event)"
        text="Agregar archivo"
      ></app-upload-button-file>
    </div>
    <div class="table-container m-2 shadow-sm">
      <table mat-table matSort [dataSource]="data" class="mat-elevation-z8">
        <!-- Nombre Column -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>N°</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <!-- Cargo Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Titulo</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <!-- Correo Column -->
        <ng-container matColumnDef="lastUpdatedDate">
          <th mat-header-cell *matHeaderCellDef>Última modificación</th>
          <td mat-cell *matCellDef="let element">
            {{ element.lastUpdatedDate | date: "MM/dd/yyyy hh:mm a" }}
          </td>
        </ng-container>

        <!-- Telefono Column -->
        <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef>Tamaño</th>
          <td mat-cell *matCellDef="let element">
            {{ element.size | filesize }}
          </td>
        </ng-container>

        <!-- Tipo de contacto Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <a class="action-edit" role="button">Ver</a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
    </div>
  </div>
</div>

<table
  *ngIf="idTableShow == 16"
  mat-table
  [dataSource]="dataSourceLoadedSites"
  class="mat-elevation-z0 sites-table"
>
  <!-- Check Column -->
  <ng-container matColumnDef="check">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        color="primary"
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        [aria-label]="checkboxLabel()"
      ></mat-checkbox>
    </th>
    <td
      [style.background-color]="element.color"
      mat-cell
      *matCellDef="let element"
    >
      <mat-checkbox
        color="primary"
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(element) : null"
        [checked]="selection.isSelected(element)"
        [aria-label]="checkboxLabel(element)"
      ></mat-checkbox>
    </td>
  </ng-container>

  <!-- Index Column -->
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef>N°</th>
    <td
      [style.background-color]="element.color"
      mat-cell
      *matCellDef="let element; let i = index"
    >
      {{ i + 1 }}
    </td>
  </ng-container>

  <!-- Site Column -->
  <ng-container matColumnDef="site">
    <th mat-header-cell *matHeaderCellDef>Sitio</th>
    <td
      [style.background-color]="element.color"
      class="numberList"
      mat-cell
      *matCellDef="let element"
    >
      {{ element.site }}
    </td>
  </ng-container>

  <!-- Coverage Column -->
  <ng-container matColumnDef="coverage">
    <th mat-header-cell *matHeaderCellDef>Cobertura</th>
    <td
      [style.background-color]="element.color"
      mat-cell
      *matCellDef="let element"
    >
      {{ element.coverage }}
    </td>
  </ng-container>

  <!-- AccessMedia Column -->
  <ng-container matColumnDef="accessMedia">
    <th mat-header-cell *matHeaderCellDef>Medio de Acceso</th>
    <td
      [style.background-color]="element.color"
      mat-cell
      *matCellDef="let element"
    >
      {{ element.accessMedia }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
<!-- -----------------SECCION DE BUILDING BLOCKS----------------- -->

<table
  *ngIf="idTableShow == 17"
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z0 sites-table"
>
  <!-- Check Column -->
  <ng-container matColumnDef="check">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        color="primary"
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        [aria-label]="checkboxLabel()"
      ></mat-checkbox>
    </th>
    <td
      [style.background-color]="element.color"
      mat-cell
      *matCellDef="let element"
    >
      <mat-checkbox
        color="primary"
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(element) : null"
        [checked]="selection.isSelected(element)"
        [aria-label]="checkboxLabel(element)"
      ></mat-checkbox>
    </td>
  </ng-container>

  <!-- Site Column -->
  <ng-container matColumnDef="site">
    <th mat-header-cell *matHeaderCellDef></th>
    <td
      [style.background-color]="element.color"
      class="numberList"
      mat-cell
      *matCellDef="let element"
    >
      {{ element.site }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>

<table *ngIf="idTableShow == 18" datatable [dtOptions]="dtOptions" class="row-border general-table">
  <thead>
    <tr>
      <th *ngFor="let col of columns; let i = index">
        {{ col.columName | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="shadow-sm c-pointer" *ngFor="let account of dataSource; let i = index">
      <td class="mat-cell">{{ account.site }}</td>
      <td class="mat-cell">{{ account.accessMedia }}</td>
      <td class="mat-cell">{{ account.services }}</td>
      <td class="mat-cell">
        <app-input-spinner>
        </app-input-spinner>
      </td>
      <td class="mat-cell">{{ account.addons }}

        <button mat-raised-button><mat-icon>add</mat-icon></button>
      </td>
      <td class="mat-cell">{{ account.servicesCost }}</td>
      <td class="mat-cell">$
      <input type="text " class="over-cost left">
      <input type="text" class="over-cost right"> %</td>
      <td class="mat-cell">
       $ <input type="text" class="discont">
      </td>
      <td class="mat-cell">{{ account.costSent }}</td>
      <td class="mat-cell">{{ account.subtotal }}</td>
      <td class="mat-cell">{{ account.total }}</td>
    </tr>
  </tbody>
</table>

<table
  *ngIf="idTableShow == 19"
  id="history"
  datatable
  [dtOptions]="dtOptions"
  class="row-border general-table"
>
  <thead>
    <tr class="t-row">
      <th class="text-center" *ngFor="let col of columns">
        {{ col.columnName | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="shadow-sm c-pointer t-row"
      *ngFor="let account of dataSource; let i = index"
    >
      <td class="mat-cell text-center">{{ account.quoteName }}</td>
      <td class="mat-cell text-center">{{ account.quoteSheet }}</td>
      <td class="mat-cell text-center">{{ account.oportunity }}</td>
      <td class="mat-cell text-center">{{ account.monthlyTotal }}</td>
      <td class="mat-cell text-center">{{ account.validity }}</td>
      <td class="mat-cell text-center">{{ account.loadHld }}</td>
      <td class="mat-cell text-center">{{ account.overdue }}</td>
    </tr>
  </tbody>
</table>







