<mat-sidenav-container class="drawer-container" autosize>
  <mat-sidenav #drawer class="drawer-sidenav" mode="over" style="width: 300px">
    <div class="container-menu">
      <h1 class="mt-2 text-title text-bold">Menu</h1>
      <mat-icon class="c-pointer" (click)="drawer.close()">close</mat-icon>
    </div>
    <mat-nav-list role="list">
      <mat-list-item
        class="c-pointer"
        routerLink="/accounts/dashboard"
        role="listitem"
        (click)="drawer.close()"
        >Dashboard</mat-list-item
      >
      <mat-list-item
        routerLink="/accounts"
        role="listitem"
        class="c-pointer"
        (click)="drawer.close()"
        >Cuentas</mat-list-item
      >
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-navbar (emiter)="drawer.toggle()"></app-navbar>
    <div class="drawer-secondary-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
