<ngx-spinner
  template="<img style='width:143px; height:155px;' src='../../../../assets/img/loading.gif' width=''/>"
></ngx-spinner>

<mat-sidenav-container
  class="drawer-container"
  autosize
  [hasBackdrop]="hasBackdrop"
>
  <!-- Menu -->
  <mat-sidenav #drawer class="drawer-sidenav" mode="over" autoFocus="false">
    <div class="container-menu">
      <h1 class="mt-2 text-title text-bold ps-2">
        {{ contentLabels + "menu.title" | translate }}
      </h1>
      <mat-icon class="c-pointer" (click)="drawer.close(); drawerRight.close()"
        >close</mat-icon
      >
    </div>
    <mat-nav-list role="list">
      <mat-list-item
        class="c-pointer hover"
        routerLink="/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        role="listitem"
        (click)="drawer.close(); drawerRight.close()"
      >
        {{ contentLabels + "menu.item-list1" | translate }}</mat-list-item
      >
      <mat-list-item
        routerLink="/accounts"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        role="listitem"
        class="c-pointer hover"
        (click)="drawer.close(); drawerRight.close()"
      >
        {{ contentLabels + "menu.item-list2" | translate }}</mat-list-item
      >
      <mat-list-item
        routerLink="/opportunities"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        role="listitem"
        class="c-pointer hover"
        (click)="drawer.close(); drawerRight.close()"
      >
        {{ contentLabels + "menu.item-list3" | translate }}</mat-list-item
      >
      <mat-list-item
        routerLink="/quotes"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        role="listitem"
        class="c-pointer hover"
        (click)="drawer.close(); drawerRight.close()"
      >
        {{ contentLabels + "menu.item-list4" | translate }}</mat-list-item
      >
    </mat-nav-list>
    <mat-accordion>
      <mat-expansion-panel
        class="mat-elevation-z0"
        (opened)="panelOpenStateMenu = true"
        (closed)="panelOpenStateMenu = false"
      >
        <mat-expansion-panel-header class="hover ps-3">
          <mat-panel-title class="tx-16"> Mesa de ayuda </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item class="c-pointer hover tx-16" role="listitem"
            >Material de capacitación</mat-list-item
          >
          <mat-list-item class="c-pointer hover tx-16" role="listitem"
            >Tickets Mesa de Ayuda</mat-list-item
          >
          <mat-list-item class="c-pointer hover tx-16" role="listitem"
            >Soporte CallCenter</mat-list-item
          >
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <!-- End Menu -->

  <!-- Notificaciones -->
  <mat-sidenav
    #drawerRight
    class="drawer-sidenav"
    mode="over"
    autoFocus="false"
    position="end"
  >
    <div class="container-menu">
      <h1 class="mt-2 text-title text-bold ps-2">
        {{ contentLabels + "notifications.title" | translate }}
      </h1>
      <mat-icon class="c-pointer" (click)="drawerRight.close()">close</mat-icon>
    </div>
    <mat-nav-list role="list" class="m-2">
      <mat-card
        routerLink="/dashboard"
        (click)="drawerRight.close()"
        class="w-80 mb-4 c-pointer matCard"
      >
        <div class="row justify-content-between">
          <div class="col-10">
            <mat-card-title class="matCardTitle">{{
              contentLabels + "notifications.card1-title" | translate
            }}</mat-card-title>
            <mat-card-content class="matCardContent">{{
              contentLabels + "notifications.card1-content" | translate
            }}</mat-card-content>
            <mat-card-footer class="matCardFooter ps-3">{{
              contentLabels + "notifications.card1-footer" | translate
            }}</mat-card-footer>
          </div>
          <div class="col-2 align-self-center">
            <mat-icon>chevron_right</mat-icon>
          </div>
        </div>
      </mat-card>
      <mat-card
        routerLink="/dashboard"
        (click)="drawerRight.close()"
        class="w-80 mb-4 c-pointer matCard"
      >
        <div class="row justify-content-between">
          <div class="col-10">
            <mat-card-title class="matCardTitle">{{
              contentLabels + "notifications.card1-title" | translate
            }}</mat-card-title>
            <mat-card-content class="matCardContent">{{
              contentLabels + "notifications.card1-content" | translate
            }}</mat-card-content>
            <mat-card-footer class="matCardFooter ps-3">{{
              contentLabels + "notifications.card1-footer" | translate
            }}</mat-card-footer>
          </div>
          <div class="col-2 align-self-center">
            <mat-icon>chevron_right</mat-icon>
          </div>
        </div>
      </mat-card>
    </mat-nav-list>
  </mat-sidenav>
  <!-- End Notificaciones -->

  <mat-sidenav-content>
    <app-navbar
      (emiterRight)="toggleRight($event)"
      (emiter)="toggle($event)"
    ></app-navbar>
    <div [class]="show() ? 'p-0' : 'drawer-secondary-container'">
      <app-navigation-menu
        *ngIf="hideNavigation"
      ></app-navigation-menu>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
