@import "./../../../../styles.scss";

.conteiner-btn-accounts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.btn-check-no-shadow,
.btn-check:checked + .btn-check:focus {
  box-shadow: none !important;
}

.btn-check-white{
border: none;
    color: black;
    background: white;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 8%)!important;
}

.btn-check-white:hover {
color: #FF0000 !important;
    background-color: #FF0000;
    /* opacity: 0.1; */
    background: rgba(260,0,0,.1);
    font-weight: 600;
    border: none;
}

.btn-check:checked + .btn-check-white {
color: #FF0000 !important;
    background-color: #FF0000;
    /* opacity: 0.1; */
    background: rgba(260,0,0,.1);
    font-weight: 600;
    border: none;
}