<div class="row py-2 align-items-center mh-50">
  <div class="col-3 d-flex flex-column justify-content-center">
    <span class="text-title text-bold">
      {{ contentLabels + "title" | translate }}
    </span>
  </div>

  <div class="col-7">
    <div class="row g-0 row-cols-lg-auto justify-content-end">
      <input value="1" type="radio" class="btn-check" id="btn-check-need" name="op" autocomplete="off"
        [formControl]="filterParam" (click)="doFilter($event)" />
      <label class="btn btn-sm btn-outline-primary me-2 btn-check-white btn-check-no-shadow"
        for="btn-check-need">Necesidades</label>

      <input value="2" [formControl]="filterParam" type="radio" class="btn-check" id="btn-check-design"
        autocomplete="off" name="op" (click)="doFilter($event)" />
      <label class="btn btn-sm btn-outline-primary me-2 btn-check-white btn-check-no-shadow"
        for="btn-check-design">Diseño</label>

      <input value="3" [formControl]="filterParam" type="radio" class="btn-check" id="btn-check-proposal"
        autocomplete="off" name="op" (click)="doFilter($event)" />
      <label class="btn me-2 btn-sm btn-outline-primary btn-check-white btn-check-no-shadow"
        for="btn-check-proposal">Propuesta</label>

      <input value="4" [formControl]="filterParam" type="radio" class="btn-check" id="btn-check-negociate"
        autocomplete="off" name="op" (click)="doFilter($event)" />

      <label class="btn me-2 btn-sm btn-outline-primary btn-check-white btn-check-no-shadow"
        for="btn-check-negociate">Negociación</label>

      <input value="5" [formControl]="filterParam" type="radio" class="btn-check" id="btn-check-firm" autocomplete="off"
        name="op" (click)="doFilter($event)" />
      <label class="btn btn-sm btn-outline-primary me-2 btn-check-white btn-check-no-shadow"
        for="btn-check-firm">Firma</label>

      <input value="6" [formControl]="filterParam" type="radio" class="btn-check" id="btn-check-credit"
        autocomplete="off" name="op" (click)="doFilter($event)" />
      <label class="btn btn-sm btn-outline-primary me-2 btn-check-white btn-check-no-shadow"
        for="btn-check-credit">Crédito</label>

      <input value="7" [formControl]="filterParam" type="radio" class="btn-check" id="btn-check-won" autocomplete="off"
        name="op" (click)="doFilter($event)" />
      <label class="btn btn-sm btn-outline-primary me-2 btn-check-white btn-check-no-shadow"
        for="btn-check-won">Ganada</label>
    </div>
  </div>

  <div class="col-2 d-flex justify-content-end">
    <select class="order-by small-shadow" name="" placeholder="Ordenar por">
      <option value="0" selected="true" disabled>Ordenar por</option>
      <option value="1">Recientes</option>
      <option value="2">Ultimos 7 dias</option>
      <option value="3">Ultimo mes</option>
    </select>
  </div>
</div>
<app-empty *ngIf="dataSource.length === 0" message=" {{ contentLabels + 'message-empty' | translate }}"></app-empty>
<app-table-general [columns]="columnsShow" [dataSource]="dataSource" [idTableShow]="2"></app-table-general>