<app-title-building-blocks></app-title-building-blocks>
<app-header-actions
  [title]="'COT7808232'"
  [showRelatedText]="false"
  [showIcon]="false"
  [hasBackButton]="false"
  buttonText="Guardar modelado"
  route="buldingBlocks/connectivity"
  [isDisabled]="!isValid"
>
</app-header-actions>
<app-header-actions-building-blocks></app-header-actions-building-blocks>
<div class="row mt-3">
  <div class="col-4 container-cards">
    <app-modeling-tables
      [data]="data"
      [columns]="columns"
      [idTableShow]="2"
      [showCheckboxes]="true"
    >
    </app-modeling-tables>
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col-10">
        <mat-tab-group>
          <mat-tab label="Principal">
            <div class="d-flex mt-3">
              <label for="" class="text-bold">Fibra: </label>
              <mat-checkbox color="primary" class="ms-4">GPON</mat-checkbox>
              <mat-checkbox color="primary" class="ms-4">Metro</mat-checkbox>
            </div>

            <app-stepper-building-blocks
              (isValid)="isValidStepper($event)"
            ></app-stepper-building-blocks>
          </mat-tab>
          <mat-tab label="Redundancia"> Content 2 </mat-tab>
        </mat-tab-group>
      </div>
      <div class="col-2 d-flex justify-content-center mt-4">
        <a class="view text-bold" href="/buildingBlocks/connectivity"
          >Ver resumen</a
        >
      </div>
    </div>
  </div>
</div>
