<div>
  <h1 class="text-bold mb-3">
    Modelado <span class="text-normal">Building Blocks</span>
  </h1>

  <div class="row d-flex">
    <div class="lineRed mb-4 col-3"></div>
    <div class="lineSmall mb-4 col-9"></div>
  </div>
</div>

<app-header-actions
  [title]="'COT7808232'"
  [showRelatedText]="false"
  [showIcon]="false"
  [hasBackButton]="false"
  buttonText="Guardar modelado"
  route="buldingBlocks/connectivity"
  [isDisabled]="!isValid"
>
</app-header-actions>
<app-header-actions-building-blocks></app-header-actions-building-blocks>
<div class="row mt-3">
  <div class="col-4 container-cards">
    <div class="row g-1 row-cols-lg-auto mt-3 justify-content-around">
      <div class="col-3">
        <input
          value="1"
          type="checkbox"
          class="btn-check"
          id="btn-check-fiber"
          (click)="onFilter('Fibra')"
          name="control"
          [formControl]="control"
        />
        <label
          class="btn btn-sm btn-outline-primary btn-check-general btn-check-no-shadow"
          for="btn-check-fiber"
          >Fibra (68)</label
        >
      </div>

      <div class="col-3">
        <input
          value="2"
          type="checkbox"
          class="btn-check"
          id="btn-check-microwave"
          (click)="onFilter('Microonda')"
          name="control"
          [formControl]="control"
        />
        <label
          class="btn btn-sm btn-outline-primary btn-check-general btn-check-no-shadow"
          for="btn-check-microwave"
          >Microonda (13)</label
        >
      </div>

      <div class="col-3">
        <input
          value="3"
          type="checkbox"
          class="btn-check"
          id="btn-check-meter"
          (click)="onFilter('Metro')"
          name="control"
          [formControl]="control"
        />
        <label
          class="btn btn-sm btn-outline-primary btn-check-general btn-check-no-shadow"
          for="btn-check-meter"
          >FO/MW (39)</label
        >
      </div>

      <div class="col-3">
        <input
          value="4"
          type="checkbox"
          class="btn-check"
          id="btn-check-coverage"
          (click)="onFilter('N/D')"
          name="control"
          [formControl]="control"
        />
        <label
          class="btn me-2 btn-sm btn-outline-primary btn-check-general btn-check-no-shadow"
          for="btn-check-coverage"
          >Todos (120)</label
        >
      </div>
    </div>
    <div class="card-table">
      <app-table-general
        [dataSource]="dataSource"
        [columns]="columns"
        [idTableShow]="16"
      >
      </app-table-general>
    </div>
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col-10">
        <mat-tab-group>
          <mat-tab label="Principal">
            <div class="d-flex mt-3">
              <label for="" class="text-bold">Fibra: </label>
              <mat-checkbox color="primary" class="ms-4">GPON</mat-checkbox>
              <mat-checkbox color="primary" class="ms-4">Metro</mat-checkbox>
            </div>

            <app-stepper-building-blocks
              (isValid)="isValidStepper($event)"
            ></app-stepper-building-blocks>
          </mat-tab>
          <mat-tab label="Redundancia"> Content 2 </mat-tab>
        </mat-tab-group>
      </div>
      <div class="col-2 d-flex justify-content-center mt-4">
        <a class="view text-bold" href="/buildingBlocks/connectivity"
          >Ver resumen</a
        >
      </div>
    </div>
  </div>
</div>
