<div class="row">
  <div
    class="col-2 d-flex justify-content-between align-content-center align-items-center"
  >
    <div class="align-content-end align-items-end mb-1">
      <span class="text-title text-bold">Plan plazo: </span>
    </div>
    <div class="d-flex">
      <select class="deadline small-shadow" name="">
        <option value="0" selected="true">12</option>
        <option value="1">6</option>
        <option value="2">3</option>
        <option value="3">1</option>
      </select>
    </div>
    <span>Meses</span>
  </div>
  <div
    class="col-2 d-flex justify-content-start align-content-center align-items-center"
  >
    <label for="">Otro</label>
    <input type="text" class="another ms-2" />
  </div>
  <div
    class="col-8 d-flex justify-content-start align-content-center align-items-center"
  >
    <button
      mat-button
      class="rounded-button-outline btn-primary tx-12 text-bold ms-2"
    >
      Aplicar plazo
    </button>
    <div class="text-bold ms-2">
      Configura los productos <span class="noBold">para todos los sitios</span>
    </div>
  </div>
</div>
