<mat-card class="h-100">
  <div class="row g-0">
    <div class="col-4 gx-0">
      <strong>{{ contentLabels + "payment" | translate }}</strong>
    </div>
    <div class="col-8 gx-0">
      <mat-form-field appearance="fill" class="date-range-input">
        <mat-label>{{ contentLabels + "date-range" | translate }}</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input
            matStartDate
            formControlName="start"
            [placeholder]="contentLabels + 'date-start' | translate"
            readonly
            (click)="picker.open()"
          />
          <input
            matEndDate
            formControlName="end"
            [placeholder]="contentLabels + 'date-end' | translate"
            readonly
            (click)="picker.open()"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')"
          >{{contentLabels + 'date-start-invalid' | translate}}</mat-error
        >
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
          >{{contentLabels + 'date-end-invalid' | translate}}</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row gx-0">
            <div class="col-4">
              <h4 class="my-0">Julio</h4>
              <h4 class="my-0">$00.00</h4>
            </div>
            <div class="col-4">
              <h4 class="my-0">Agosto</h4>
              <h4 class="my-0">$00.00</h4>
            </div>
            <div class="col-4">
              <h4 class="my-0">Septiembre</h4>
              <h4 class="my-0">$00.00</h4>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row gx-0">
            <div class="col-4">
              <h4 class="my-0">Octubre</h4>
              <h4 class="my-0">$00.00</h4>
            </div>
            <div class="col-4">
              <h4 class="my-0">Noviembre</h4>
              <h4 class="my-0">$00.00</h4>
            </div>
            <div class="col-4">
              <h4 class="my-0">Diciembre</h4>
              <h4 class="my-0">$00.00</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- Se deja deshabilitado por si alguna vez se usa en version mobile. -->
      <!-- <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div> -->
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true">
          <mat-icon aria-hidden="false" aria-label="Navigate to previous"
            >navigate_before</mat-icon
          >
        </span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true">
          <mat-icon aria-hidden="false" aria-label="Navigate to next"
            >navigate_next</mat-icon
          >
        </span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</mat-card>
