<div class="matDialogOportunities">
  <div mat-dialog-content>
    <p class="textDialog">
      {{ contentLabels + "p-text1" | translate }}
    </p>
    <p class="oportunitiName">{{ data.name }}</p>
    <p class="textDialog">{{ contentLabels + "p-text2" | translate }}</p>
  </div>
  <div class="matDialogActions" mat-dialog-actions>
    <button class="btn-cancel" mat-button (click)="onNoClick()">
      {{ contentLabels + "btn-cancel" | translate }}
    </button>
    <button class="btn-ok" mat-button cdkFocusInitial>
      {{ contentLabels + "btn-ok" | translate }}
    </button>
  </div>
</div>
