@import "../../../../styles.scss";

.card-form {
  background-color: white;
  border-radius: 10px;
}

//#region btn-check
.btn-check-sent,
.btn-check-in-proccess,
.btn-check-closed {
  font-size: 12px;
}

//#region btn-check-sent
.btn-check-sent {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  border: 1px solid $color-border !important;
  border-radius: 5px;
  color: $color-border !important;
  box-shadow: none !important;
}

.btn-check-sent:hover {
  background-color: $color-white !important;
  color: $color-primary !important;
}

.btn-check:checked + .btn-check-sent {
  border-color: $color-primary !important;
  color: $color-white !important;
  background-color: $color-primary !important;
}

.btn-check:checked + .btn-check-sent:focus {
  box-shadow: none !important;
}
//#endregion btn-check-sent

//#endregion btn-check

.check-container {
  height: 52px;
  margin-bottom: 18px;
}

.form-actions {
  width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.up-hld {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid $color-border;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.view-button {
  background-color: $color-border;
}

.mat-button.mat-button-disabled.mat-button-disabled {
  background: $color-disabled-button;
  color: $color-primary;
}

.sale-type-container {
  height: 52.06px;
}

.no-padding .mat-form-field-wrapper .mat-form-field-flex {
  padding: 0 !important;
}
