<div class="mat-elevation-z1 card-form p-3">
  <form [formGroup]="oportunityForm">
    <div class="row">
      <div class="col-md-4 col-lg-4 col-xl-4">
        <div class="input-container">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label class="label-form-field"
              >Origen de la oportunidad</mat-label
            >
            <mat-select formControlName="oportunityOrigin">
              <mat-option value="one"></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Fecha estimada de cierre</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="closeDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label class="label-form-field">Nombre del ejecutivo</mat-label>
            <input formControlName="executive" matInput value="Audi cdmx" />
          </mat-form-field>
        </div>
        <div class="d-flex flex-row">
          <div class="d-flex flex-column me-2">
            <button mat-button class="view-button"><strong>Ver</strong></button>
            <small>Nombre.pdf</small>
          </div>
          <div class="up-hld"><strong>Cargar</strong> <span>HLD</span></div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xl-4">
        <div class="input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label class="label-form-field"
              >Nombre de la oportunidad</mat-label
            >
            <input matInput formControlName="oportunityName" />
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label class="label-form-field">Etapa</mat-label>
            <!-- <input formControlName="stage" matInput /> -->
            <mat-select formControlName="stage">
              <mat-option value="0">Necesidades</mat-option>
              <mat-option value="1">Diseño</mat-option>
              <mat-option value="2">Propuesta</mat-option>
              <mat-option value="3">Crédito</mat-option>
              <mat-option value="4">Firma</mat-option>
              <mat-option value="5">Ganada</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label class="label-form-field">Importe</mat-label>
            <input matInput formControlName="amount" type="number" />
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-3 mt-2">
            <div class="check-container">
              <input
                formControlName="trybuy"
                type="checkbox"
                class="btn-check"
                id="btn-check-sent"
                autocomplete="off"
              />
              <label
                class="btn btn-sm btn-outline-primary me-2 btn-check-sent"
                for="btn-check-sent"
                >Try & buy</label
              >
            </div>
          </div>
          <div class="col-9">
            <div class="input-container">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label class="label-form-field">Motivo</mat-label>
                <input matInput formControlName="reason" type="text" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xl-4">
        <div class="input-container">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label class="label-form-field"
              >Quien integra la propuesta</mat-label
            >
            <mat-select formControlName="whoIntegrated">
              <mat-option value="one"> </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label class="label-form-field">Probabilidad (%)</mat-label>
            <input matInput formControlName="probability" />
          </mat-form-field>
        </div>
        <div
          class="input-container"
          [class]="!oportunityDetailData ? 'mtn-10' : ''"
        >
          <mat-form-field appearance="fill" class="w-100">
            <mat-label class="label-form-field"
              >Divisa de la oportunidad</mat-label
            >
            <input formControlName="badge" matInput />
          </mat-form-field>
        </div>

        <div
          class="input-container"
          [class]="!oportunityDetailData ? 'mtn-10' : ''"
        >
          <mat-form-field class="w-100" appearance="fill">
            <mat-label class="label-form-field">Descripción</mat-label>
            <input formControlName="description" matInput />
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>
<div *ngIf="!oportunityDetailData" class="d-flex justify-content-center mt-2">
  <button mat-button class="rounded-button-outline form-actions me-2">
    Cancelar
  </button>
  <button mat-button (click)="openDialog()" class="rounded-button form-actions">
    Guardar
  </button>
</div>
