<app-empty message="No se encontraron cotizaciones" *ngIf="dataSource.length == 0"></app-empty>
<div>
  <mat-tab-group mat-align-tabs="center" >
    <mat-tab label="Nuevas">
      <!-- <div>jeje</div> -->
      <ng-template matTabContent>
        <app-table-general *ngIf="dataSource.length !== 0" [idTableShow]="19" [columns]="displayedColumns"
        [dataSource]="dataSource"></app-table-general>
      </ng-template>
    </mat-tab>
    <mat-tab  label="En revisión" >
      <ng-template matTabContent>
        <app-table-general *ngIf="dataSource.length !== 0" [idTableShow]="19" [columns]="displayedColumns"
        [dataSource]="dataSource"></app-table-general>
      </ng-template>
    </mat-tab>
    <mat-tab label="Terminadas">
      <ng-template matTabContent>
        <app-table-general *ngIf="dataSource.length !== 0" [idTableShow]="19" [columns]="displayedColumns"
        [dataSource]="dataSource"></app-table-general>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
