@import "../../../../../styles.scss";

::ng-deep .mat-tab-header {
  border-bottom-color: transparent !important;
}

::ng-deep .mat-tab-label.mat-tab-label-active {
  color: black;
  font-weight: 700;
}
