@import "../../../../../styles.scss";

.conteiner-btn-accounts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-home {
  background-color: $color-white;
  color: $color-black;
}

.order-by {
  border-radius: 5px;
  height: 30px;
  width: 133px;
  background-color: $color-white;
  border: none;
}

#dataTable_length {
  padding-left: 20px !important;
  line-height: 4px !important;
}
