@import "../../../../../styles.scss";

.conteiner-btn-accounts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.btn-home {
  background-color: $color-white;
  color: $color-black;
}

// .order-by {
//   border-radius: 5px;
//   height: 30px;
//   width: 133px;
//   background-color: $color-white;
//   border: none;
// }

// .counter {
//   div {
//     padding-top: 0;
//   }
// }
