<div class="row py-2 align-items-center mh-50">
  <div class="col-3 d-flex flex-column justify-content-center">
    <span class="text-title text-bold">
      {{ contentLabels + "title" | translate }}
    </span>
  </div>

  <div class="col-2 offset-7 justify-content-end d-flex">
    <select class="order-by small-shadow" name="" placeholder="Ordenar por">
      <option value="0" selected="true" disabled>Ordenar por</option>
      <option value="1">Recientes</option>
      <option value="2">Ultimos 7 dias</option>
      <option value="3">Ultimo mes</option>
    </select>
  </div>
</div>
<app-empty
  message="No se encontraron datos"
  *ngIf="dataSource.length === 0"
></app-empty>
<app-table-general
  *ngIf="dataSource.length !== 0"
  [idTableShow]="1"
  [columns]="columnsShow"
  [dataSource]="dataSource"
></app-table-general>
