@import "../../../../../styles.scss";

.conteiner-btn-accounts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-home {
  background-color: $color-white;
  color: $color-black;
}

.order-by {
  border-radius: 5px;
  height: 30px;
  width: 133px;
  background-color: $color-white;
  border: none;
}

.order:hover {
  background: $color-hover-secondary !important;
}

::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: $color-primary !important;
  color: $color-white;
}
.select-container {
}
