@import "./../../../../../styles.scss";

.cards-top {
  height: 233px;
  min-height: 233px;
}

.container-fluid {
  padding: 0 22px;
  background-color: $color-body;
}
.chart-container {
  position: relative;
  margin: auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-content: center;
}

.chart-sum {
  position: absolute;
  top: 40%;
  left: 35%;
  font-size: 2em;
}

.count-sales {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.primary-sale {
  background-color: $color-primary;
  color: $color-white;
}

.badge-warning {
  color: $color-white;
  background-color: $color-secondary;
  border-radius: 15px;
}
