<div class="container-fluid mb-4">
  <h1 class="mt-2 text-title text-bold">Mis Ventas</h1>
  <div class="row cards-top">
    <div class="col-3 h-100">
      <mat-card class="w-100 h-100">
        <div class="shadow chart-container">
          <p class="chart-sum">{{ suma }}</p>
          <canvas
            width="150"
            height="150"
            responsive="true"
            baseChart
            [datasets]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            [options]="options"
          >
          </canvas>
        </div>
      </mat-card>
    </div>
    <div class="col-9 h-100">
      <mat-card class="h-100">Simple card</mat-card>
    </div>
  </div>

  <div class="row mt-4 cards-bottom">
    <div class="col-4 h-100">
      <div class="row sub-cards-bottom">
        <div class="col-12 h-100">
          <mat-card class="h-100">Simple card</mat-card>
        </div>
      </div>
      <div class="row mt-4 sub-cards-bottom">
        <div class="col-12 h-100">
          <mat-card class="h-100">Simple card</mat-card>
        </div>
      </div>
    </div>
    <div class="col-8 h-100">
      <mat-card class="h-100">Simple card</mat-card>
    </div>
  </div>
</div>
