@import "./../../../../../styles.scss";

.cards-top {
  height: 233px;
  min-height: 233px;
}
.cards-bottom {
  height: 368px;
  min-height: 368px;
}
.sub-cards-bottom {
  height: 172px;
  min-height: 172px;
}
.container-fluid {
  padding: 0 22px;
  background-color: $color-body;
}
.chart-container {
  position: relative;
  margin: auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.chart-sum {
  position: absolute;
  top: 40%;
  left: 35%;
  font-size: 2em;
}
