<agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  <agm-kml-layer
    url="http://www.totalplay.com.mx/web/mapas/sf/Blueholes.kmz"
  ></agm-kml-layer>
  <agm-kml-layer
    url="http://www.totalplay.com.mx/web/mapas/sf/Ciudades.kmz"
  ></agm-kml-layer>
  <agm-kml-layer
    url="https://www.totalplay.com.mx/web/mapas/sf/ciudadesTPE_FO.kmz?cobertura=1"
  ></agm-kml-layer>

  <agm-kml-layer
    url="http://www.totalplay.com.mx/web/mapas/sf/Restricciones.kmz"
  ></agm-kml-layer>
  <agm-kml-layer
    url="http://www.totalplay.com.mx/web/mapas/sf/ciudadesTPE_PMP.kmz"
  ></agm-kml-layer>
  <agm-kml-layer
    url="https://www.totalplay.com.mx/web/mapas/sf/ciudadesTPE_RTS.kmz"
  ></agm-kml-layer>
</agm-map>
