/* You can add global styles to this file, and also import other style files */

$color-body: #f7fafc;
$color-primary: #3b4559;
$color-secondary: #e4002b;
$color-info: #cdd6fd;
$color-success-light: #e8f5dd;
$color-warning-light: #fde5cd;
$color-info-light: #cdeafd;
$color-placeholder: #9a9cba;
$color-white: #fff;
$color-hover: #1d172e;
$color-hover-secondary: rgba(236, 77, 152, 0.1);
$color-active-secondary: rgba(236, 77, 152, 0.3);
$color-black: black;
$color-light-gray: #f8f9fd;
$color-sents-button: #8246af;
$color-in-proccess-button: #2e94f7;
$color-closed-button: #09c47c;

@import "~@angular/material/theming";

$monserrat-font: "Montserrat", sans-serif;

$custom-typography: mat-typography-config(
  $font-family: $monserrat-font,
);

@include angular-material-typography($custom-typography);

.tx-12 {
  font-size: 12px;
}

.text-title {
  font-size: 25px;
  color: $color-secondary;
}

.text-bold {
  font-weight: bold !important;
}

body {
  height: 100%;
  margin: 0;
}

.rotate {
  width: 50px;
  height: 50px;
  img {
    width: 50px;
    height: 50px;
  }
  animation: spin 1s ease infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.text-subtitle {
  font-size: 18px;
  color: $color-secondary;
}
//#region Table

table {
  width: 100%;
}

.mat-cell {
  font-size: 12px;
  font-weight: medium !important;
}

tr.table-detail-row {
  height: 0;
}

tr.table-element-row:not(.table-expanded-row) {
  border-radius: 10px !important;
  background-color: $color-white;
}

tr.table-element-row {
  background-color: $color-active-secondary;
  border-radius: 10px !important;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background-color: $color-hover-secondary;
    z-index: -1;
    transition: width 250ms ease-out;
  }
  &:active {
    color: #fff;

    &:after {
      width: 110%;
    }
  }
}

tr.table-element-row:not(.table-expanded-row):hover {
  background: url(./assets/img/chevron-right.svg) no-repeat;
  background-position: 98.8% 50%;
  background-color: $color-hover-secondary;
  cursor: pointer;
}

tr.table-element-row:not(.table-expanded-row):active {
  background: $color-hover-secondary;
}

.table-element-row td {
  border-bottom-width: none;
}

.mat-table {
  background: transparent !important;
}

tr > td:last-child {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
tr > td:first-child {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 4px;
  border-bottom-width: 0px !important;
  border-bottom-style: solid !important;
}
//#endregion Table

.rounded-button {
  border-radius: 20px !important;
  padding: 5px;
  height: 35px;
  background-color: $color-primary;
  color: $color-white;
  display: flex !important;
  align-items: center !important;
}

.rounded-button-outline {
  border-radius: 20px !important;
  padding: 5px;
  height: 35px;
  border: 2px solid $color-primary !important;
  color: $color-primary;
  display: flex !important;
  align-items: center !important;
}
.warn-btn {
  color: $color-secondary;
  line-height: 0 !important;
}

.c-pointer {
  cursor: pointer;
}

.hover:hover {
  background-color: $color-hover-secondary !important;
}
//#region Sidenav/

.drawer-container {
  width: 100%;
  height: 100vh;
  background-color: $color-body;
}

.drawer-sidenav {
  padding: 20px;
  width: 300px;
}

.drawer-secondary-container {
  padding: 20px;
}

.container-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//#endregion Sidenav/
