/* You can add global styles to this file, and also import other style files */

$color-body: #f7fafc;
$color-primary: #3b4559;
$color-secondary: #e4002b;
$color-info: #cdd6fd;
$color-success-light: #e8f5dd;
$color-warning-light: #fde5cd;
$color-info-light: #cdeafd;
$color-placeholder: #9a9cba;
$color-white: #fff;
$color-hover: black;
$color-hover-secondary: rgba(236, 77, 152, 0.1);
$color-active-secondary: rgba(236, 77, 152, 0.3);
$color-black: black;
$color-light-gray: #f8f9fd;

@import "~@angular/material/theming";

$monserrat-font: "Montserrat", sans-serif;

$custom-typography: mat-typography-config(
  $font-family: $monserrat-font,
);

@include angular-material-typography($custom-typography);

//class font size
.tx-12 {
  font-size: 12px;
}

.text-title {
  font-size: 25px;
  color: $color-secondary;
}

.text-bold {
  font-weight: bold !important;
}

body {
  height: 100%;
  margin: 0;
}

.rotate {
  width: 50px;
  height: 50px;
  img {
    width: 50px;
    height: 50px;
  }
  animation: spin 1s ease infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.text-subtitle {
  font-size: 18px;
  color: $color-secondary;
}
.table-am {
  .mat-row:nth-child(even) {
    background-color: $color-light-gray;
  }

  .mat-row:nth-child(odd) {
    background-color: $color-white;
  }

  td,
  th {
    border: none !important;
    padding: 5px !important;
  }
  tr.mat-row,
  tr.mat-header-row {
    height: 0 !important;
  }

  .mat-cell {
    font-size: 12px;
  }

  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $monserrat-font;
}

.warn-btn {
  color: $color-secondary;
  line-height: 0;
}
