<app-header-actions
  title="Oportunidades"
  buttonText="Crear oportunidad"
  route="accounts/detail/create-oportunity"
  [hidenCreateOportunity]="false"
>
</app-header-actions>
<app-header-detail [detailInfo]="infoDetail"></app-header-detail>
<app-empty
  *ngIf="tableProps.dataSource.length === 0"
  message=" {{ contentLabels + 'message-empty' | translate }}"
></app-empty>
<app-table-general></app-table-general>
<!-- <app-table
  *ngIf="tableProps.dataSource.length > 0"
  [tableProps]="tableProps"
></app-table> -->
