@import "../../../../../../styles.scss";

.mat-dialog-title {
  text-align: center;
}


.mat-form-field {
  width: 100%;
  margin-top: 3em;
  margin-bottom: 3em
}
.dialog-actions {
  display: flex;
  justify-content: space-evenly;

}

.button-dlg {
  border-radius: 25px;
  background: $color-secondary;
  width: 156px;
  height: 35px;
  color: white;
}
// .btn-add {
//   border-radius: 25px;
//   background-color: $color-secondary !important;
//   width: 156px;
//   height: 35px;
//   color: white;
//   border: none;
//   margin-left:  11em;
//   margin-top: 5px;
//   font-weight: 500;

//   &:hover {
//     background-color: $color-hover;
//   }
// }
