 <div class="custom-cc">
  <div>
    <h1 class="text-bold text-center">Editar Sitio</h1>
  </div>
  <div class=" d-flex justify-content-center row">
    <div class="input-group w-75 m-3 shadow-sm">
      <input type="text" class="form-control search-bar mt-0"
        placeholder="Añade tu sitio(s) buscando la dirección o coordenada"
        aria-label="Añade tu sitio(s) buscando la dirección o coordenada"
        aria-describedby="basic-addon2" [formControl]="searchData" [matAutocomplete]="auto"
        (keydown.enter)="search()" />
      <button class="btn-clear-search" *ngIf="selectedIdOption" matSuffix mat-icon-button aria-label="Clear"
        (click)="clearSearch()">
        <mat-icon class="icon-clear-search">close</mat-icon>
      </button>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option (click)="setSearchId(option.id)" *ngFor="let option of filteredOptions | async"
          [value]="option.name + ' ' + option.location + ' ' + option.type">
          {{ option.name }} {{ option.location }}
          <small class="small-type">{{ option.type }}</small>
        </mat-option>
      </mat-autocomplete>

      <div class="search-bar-divider">
        <span class="search-bar-span">&nbsp;</span>
      </div>
      <button class="btn btn-outline-secondary pt-2 search-bar search-bar-btn" id="basic-addon2" (click)="search()">
        <mat-icon class="search-icon">search</mat-icon>
      </button>
    </div>
  </div>

  <form class="login-form" [formGroup]="editDataForm" novalidate autocomplete="off">
    <div class="row">
      <div class="col-6">
        <form class="row" role="form" novalidate>
          <div class="row">
            <div class="col-12 input-container">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Nombre del Sitios <span>*</span></mat-label>
                <input formControlName="siteName" matInput>
              </mat-form-field>
            </div>
          </div>


          <div class="row">
            <div class="col-6 input-container">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Calle <span>*</span></mat-label>
                <input formControlName="street" matInput>
              </mat-form-field>
            </div>
            <div class="col-6 input-container">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Número Exterior <span>*</span></mat-label>
                <input formControlName="outsideNumber" matInput>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-6 input-container">
              <mat-form-field class="w-100" appearance="fill">
                <input  formControlName="insideNumber" matInput>
                <mat-label>Número Interior</mat-label>
              </mat-form-field>
            </div>
            <div class="col-6 input-container">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Código Postal<span>*</span></mat-label>
                <input formControlName="zipCode" matInput>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-6 input-container">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Colonia <span>*</span></mat-label>
                <input formControlName="suburb" matInput>
              </mat-form-field>
            </div>
            <div class="col-6 input-container">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Alcaldía/Municipio <span>*</span></mat-label>
                <input formControlName="townHall" matInput>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-6 input-container">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Estado <span>*</span></mat-label>
                <input formControlName="state" matInput>
              </mat-form-field>
            </div>
            <div class="col-6 input-container">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Ciudad <span>*</span></mat-label>
                <input formControlName="city" matInput>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-6 input-container">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Latitud</mat-label>
                <input formControlName="latitude" matInput>
              </mat-form-field>
            </div>
            <div class="col-6 input-container">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Longitud</mat-label>
                <input formControlName="longitude" matInput>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
      <div class="col-6 ">
        <div>
          <img class="img-fluid" src="../../../../../../assets/img/map_2.png" alt="" />
        </div>
      </div>
    </div>

    <mat-dialog-actions align="center">
      <button mat-button class="rounded-button-outline" mat-dialog-close>
        Cancelar
      </button>
      <button mat-button class="rounded-button-outline btn-primary">Guardar</button>
    </mat-dialog-actions>
  </form>
</div>
