<div>
  <h2 class="text-bold text-center">Editar Sitio</h2>
</div>
<div class="col-12">
  JEE
</div>
<div class="row">

  <div class="col-6">
    <form class="row" role="form" novalidate>
      <div class="row">
        <div class="col-12 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Nombre del Sitio</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col-6 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Calle</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="col-6 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Numero Exterior</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-6 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <input matInput>
            <mat-label>Número Interior</mat-label>
          </mat-form-field>
        </div>
        <div class="col-6 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Código Postal</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-6 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Colonia</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="col-6 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Alcaldía/Municipio</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-6 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Estado</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="col-6 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Ciudad</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-6 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Latitud</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="col-6 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Longitud</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="col-4">
    <div class="space-img">
      <img src="../../../../../../assets/img/map_2.png" alt="" />
    </div>
  </div>
</div>

<mat-dialog-actions align="center">
  <button mat-button class="rounded-button-outline" mat-dialog-close>
    Cancelar
  </button>
  <button mat-button class="rounded-button-outline btn-primary">Guardar</button>
</mat-dialog-actions>
