<app-header-actions
  [title]="'Detalle'"
  [hasBackButton]="true"
  buttonText="Crear oportunidad"
  route="opportunities/new/op"
  [hidenCreateOportunity]="false"
  [relatedRoute]="'accounts/related/' + accountId"
>
</app-header-actions>
<app-header-detail [detailInfo]="infoDetail"></app-header-detail>

<div class="row g-0 mt-2">
  <mat-expansion-panel class="w-100 h-100" expanded>
    <mat-expansion-panel-header>
      <mat-panel-title class="text-bold"> Datos principales </mat-panel-title>
    </mat-expansion-panel-header>
    <form
      class="login-form"
      [formGroup]="principalDataForm"
      novalidate
      autocomplete="off"
    >
      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de persona</mat-label>
            <input
              matInput
              placeholder="Ingrese Tipo de persona"
              formControlName="regime"
              [readonly]="!isAdmin()"
            />
            <mat-error *ngIf="principalDataForm.controls.regime.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Razon social</mat-label>
            <input
              matInput
              placeholder="Ingrese Razon social"
              formControlName="enterprise_name"
              [readonly]="!isAdmin()"
            />
            <mat-error
              *ngIf="principalDataForm.controls.enterprise_name.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Cuenta principal</mat-label>
            <input
              matInput
              placeholder="Ingrese Cuenta principal"
              formControlName="main_account"
              [readonly]="!isAdmin()"
            />
            <mat-error *ngIf="principalDataForm.controls.main_account.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Clase de cuenta</mat-label>
            <input
              matInput
              placeholder="Ingrese Clase de cuenta"
              formControlName="account_class"
              [readonly]="!isAdmin()"
            />
            <mat-error *ngIf="principalDataForm.controls.account_class.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Numero de la cuenta</mat-label>
            <input
              matInput
              placeholder="Ingrese Numero de la cuenta"
              formControlName="account_number"
              [readonly]="!isAdmin()"
            />
            <mat-error *ngIf="principalDataForm.controls.account_number.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Referencia Urbana</mat-label>
            <input
              matInput
              placeholder="Ingrese Referencia Urbana"
              formControlName="urban_reference"
              [readonly]="!isAdmin()"
            />
            <mat-error
              *ngIf="principalDataForm.controls.urban_reference.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Segmento facturación</mat-label>
            <input
              matInput
              placeholder="Ingrese Segmento facturación"
              formControlName="billing_segment"
              [readonly]="!isAdmin()"
            />
            <mat-error
              *ngIf="principalDataForm.controls.billing_segment.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Monto facturación potencial</mat-label>
            <input
              matInput
              placeholder="Ingrese Monto facturación potencial"
              formControlName="potencial_billing_amount"
              [readonly]="!isAdmin()"
            />
            <mat-error
              *ngIf="
                principalDataForm.controls.potencial_billing_amount.invalid
              "
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Teléfono</mat-label>
            <input
              matInput
              placeholder="Ingrese Teléfono"
              formControlName="phone"
              [readonly]="!isAdmin()"
            />
            <mat-error *ngIf="principalDataForm.controls.phone.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-4 input-container">
          <div class="w-100 h-100 py-3" appearance="fill">
            <mat-label>Segmento: </mat-label>
            <input
              formControlName="segment"
              id="segment1"
              type="radio"
              class="btn-check"
              autocomplete="off"
              value="1"
              checked
            />
            <label
              id="btn-check-segment1"
              for="segment1"
              class="
                btn btn-sm btn-outline-primary
                ms-3
                me-2
                btn-check-segment
                px-4
              "
            >
              I
            </label>

            <input
              formControlName="segment"
              id="segment2"
              type="radio"
              class="btn-check"
              autocomplete="off"
              value="2"
            />
            <label
              id="btn-check-segment2"
              for="segment2"
              class="btn btn-sm btn-outline-primary me-2 btn-check-segment px-4"
            >
              II
            </label>

            <input
              formControlName="segment"
              id="segment3"
              type="radio"
              class="btn-check"
              autocomplete="off"
              value="3"
            />
            <label
              id="btn-check-segment3"
              for="segment3"
              class="btn btn-sm btn-outline-primary me-2 btn-check-segment px-4"
            >
              III
            </label>

            <input
              formControlName="segment"
              id="segment4"
              type="radio"
              class="btn-check"
              autocomplete="off"
              value="4"
            />
            <label
              id="btn-check-segment4"
              for="segment4"
              class="btn btn-sm btn-outline-primary me-2 btn-check-segment px-4"
            >
              IV
            </label>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Sitio Web</mat-label>
            <input
              matInput
              placeholder="Ingrese Sitio Web"
              formControlName="website"
              [readonly]="!isAdmin()"
            />
            <mat-error *ngIf="principalDataForm.controls.website.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Sector</mat-label>
            <input
              matInput
              placeholder="Ingrese Sector"
              formControlName="sector"
              [readonly]="!isAdmin()"
            />
            <mat-error *ngIf="principalDataForm.controls.sector.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tamaño</mat-label>
            <input
              matInput
              placeholder="Ingrese Tamaño"
              formControlName="size"
              [readonly]="!isAdmin()"
            />
            <mat-error *ngIf="principalDataForm.controls.size.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Empleados</mat-label>
            <input
              matInput
              placeholder="Ingrese Empleados"
              formControlName="employees_amount"
              [readonly]="!isAdmin()"
            />
            <mat-error
              *ngIf="principalDataForm.controls.employees_amount.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <div class="w-100 h-100 py-3" appearance="fill">
            <mat-label>VIP: </mat-label>
            <ui-switch
              class="ms-3"
              matInput
              formControlName="isVip"
              uncheckedLabel="NO"
              checkedLabel="SI "
              [disabled]="!isAdmin()"
            ></ui-switch>
            <!-- <input matInput placeholder="Ingrese VIP" formControlName="isVip" />
            <mat-error *ngIf="principalDataForm.controls.isVip.invalid"
              >Campo obligatorio</mat-error
            > -->
          </div>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Folio cuenta</mat-label>
            <input
              matInput
              placeholder="Ingrese Folio cuenta"
              formControlName="principal_contact"
              [readonly]="!isAdmin()"
            />
            <mat-error
              *ngIf="principalDataForm.controls.principal_contact.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</div>

<div class="row g-0 mt-2">
  <mat-expansion-panel class="w-100 h-100">
    <mat-expansion-panel-header>
      <mat-panel-title class="text-bold">
        Información de dirección
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="login-form" [formGroup]="addressInformationForm" novalidate>
      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Calle</mat-label>
            <input
              matInput
              placeholder="Ingrese Calle"
              formControlName="street"
              [readonly]="!isAdmin()"
            />
            <mat-error *ngIf="addressInformationForm.controls.street.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Número exterior</mat-label>
            <input
              matInput
              placeholder="Ingrese Número exterior"
              formControlName="number"
              [readonly]="!isAdmin()"
            />
            <mat-error *ngIf="addressInformationForm.controls.number.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Número interior</mat-label>
            <input
              matInput
              placeholder="Ingrese Número interior"
              formControlName="interior_number"
              [readonly]="!isAdmin()"
            />
            <mat-error
              *ngIf="addressInformationForm.controls.interior_number.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>CP Colonia</mat-label>
            <input
              matInput
              placeholder="Ingrese CP Colonia"
              formControlName="town"
              [readonly]="!isAdmin()"
            />
            <mat-error *ngIf="addressInformationForm.controls.town.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <!-- <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Mapa</mat-label>
            <input
              matInput
              placeholder="Ingrese Mapa"
              formControlName="map"
              [readonly]="!isAdmin()"
            />
            <mat-error *ngIf="addressInformationForm.controls.map.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div> -->

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo de registro de cuenta</mat-label>
            <input
              matInput
              placeholder="Ingrese Número interior"
              formControlName="account_registration_type"
              [readonly]="!isAdmin()"
            />
            <mat-error
              *ngIf="
                addressInformationForm.controls.account_registration_type
                  .invalid
              "
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Delegación / Municipio</mat-label>
            <input
              matInput
              placeholder="Ingrese Delegación / Municipio"
              formControlName="county"
              [readonly]="!isAdmin()"
            />
            <mat-error *ngIf="addressInformationForm.controls.county.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Ciudad</mat-label>
            <input
              matInput
              placeholder="Ingrese Ciudad"
              formControlName="city"
              [readonly]="!isAdmin()"
            />
            <mat-error *ngIf="addressInformationForm.controls.city.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Estado</mat-label>
            <input
              matInput
              placeholder="Ingrese Estado"
              formControlName="state"
              [readonly]="!isAdmin()"
            />
            <mat-error *ngIf="addressInformationForm.controls.state.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Código Postal</mat-label>
            <input
              matInput
              placeholder="Ingrese Código Postal"
              formControlName="cp"
              [readonly]="!isAdmin()"
            />
            <mat-error *ngIf="addressInformationForm.controls.cp.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Empleados</mat-label>
            <input
              matInput
              placeholder="Ingrese Empleados"
              formControlName="employees_amount"
              [readonly]="!isAdmin()"
            />
            <mat-error
              *ngIf="addressInformationForm.controls.employees_amount.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Geolocalización</mat-label>
            <input
              matInput
              placeholder="Ingrese Geolocalización"
              formControlName="geolocation"
              [readonly]="!isAdmin()"
            />
            <mat-error
              *ngIf="addressInformationForm.controls.geolocation.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</div>

<div class="row g-0 mt-2">
  <mat-expansion-panel class="w-100 h-100">
    <mat-expansion-panel-header>
      <mat-panel-title class="text-bold">
        Información del sistema
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="login-form" [formGroup]="systemInformationForm" novalidate>
      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Creado por</mat-label>
            <input
              matInput
              placeholder="Ingrese Creado por"
              formControlName="createdBy"
              [readonly]="true"
            />
            <mat-error *ngIf="systemInformationForm.controls.createdBy.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Fecha de creaci&oacute;n</mat-label>
            <input
              matInput
              placeholder="Fecha de creaci&oacute;n"
              formControlName="creationDate"
              [readonly]="true"
            />
            <mat-error
              *ngIf="systemInformationForm.controls.creationDate.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Propietario de la cuenta</mat-label>
            <input
              matInput
              placeholder="Propietario de la cuenta"
              formControlName="accountOwner"
              [readonly]="true"
            />
            <mat-error
              *ngIf="systemInformationForm.controls.accountOwner.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Última modificación por</mat-label>
            <input
              matInput
              placeholder="Modificado ultima vez por"
              formControlName="lastUpdatedBy"
              [readonly]="true"
            />
            <mat-error
              *ngIf="systemInformationForm.controls.lastUpdatedBy.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Fecha de &uacute;ltima modificaci&oacute;n</mat-label>
            <input
              matInput
              placeholder="Fecha de &uacute;ltima modificaci&oacute;"
              formControlName="lastUpdatedDate"
              [readonly]="true"
            />
            <mat-error
              *ngIf="systemInformationForm.controls.lastUpdatedDate.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-4 input-container">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Id CRM origen</mat-label>
            <input
              matInput
              placeholder="Ingrese Id CRM origen"
              formControlName="originCRM"
              [readonly]="true"
            />
            <mat-error *ngIf="systemInformationForm.controls.originCRM.invalid"
              >Campo obligatorio</mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</div>
